# Google App Engine generated folder
appengine-generated/
client_secrets.json
gitignoretest.txt
lib/
LRP.pyc
*.pyc
zack_inc_lite.pyc
appengine_config.pyc
tags/*.pyc
LocalDocs/
pre_upload.py
upload_dev.bat
upload_test.bat