
.container { padding: 5px; display:block; }

.card { box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2); display:block; text-align:left;  margin-bottom:50px; }

#banner{ 
    padding: 10px 0px 10px 0px;
}

.toggle-row {}

#banner.closed{ 
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0px;
    transition: all .75s;
   -webkit-transition: all .75s;

}

div.card.tier{ border-radius: 4px; margin:0px 10px 10px 10px; padding:0px; }
div.card.tier:first-child{ margin:0px 10px 10px 0px; }
div.card.tier:last-child{ margin:0px 0px 10px 10px; }
.sortable{ cursor:pointer; }
span.pointer{ cursor:pointer; }


span.tag-on{ padding-left:7px; padding-right:7px; border-bottom: solid 2px #333; cursor:pointer; }
span.tag-off{ padding-left:7px; padding-right:7px; border-bottom: none;   cursor:pointer; }

span.tag-on.blue{ border-bottom: solid 2px blue!important; }

.panel{}
.panel_tag{}

.text-container{
    padding:10px; padding-top:20px;
}

.text-container.medium{
    height: 140px;
}

ul.table-ul{ display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #FFF;
    text-align: center;
}

.table-li {
    margin:0px;
}

.cell-holder { width:80px; }
.large-cell-holder { width:100px; }

div.row-header{ border-bottom:solid 1px #333; padding:0px; margin:0px;}
div.header{ font-weight:700; cursor:pointer; }

li.right{ margin:0px; }
li.centered{ margin:0px; }
li.left{ margin:0px; }


ul.header-row { list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; }

.header-cell { padding:2px 5px;  background-color:maroon; color:white; font-weight:700;  display: block; position: relative;  vertical-align:middle; }


ul.data-row { list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; }
    
   
div.table-row{ padding: 0px; }   
div.table-row{ padding: 0px; }   
div.table-row:nth-child(even) {background-color: #EEE; }
div.table-row:nth-child(odd) {background-color: #FFF; }

li.data-cell { margin:0; padding:2px 5px; display: block; position: relative;  vertical-align:middle; }

/* Colored */
/*.site-header-bar { background-color: #33f; color:white; }
.site-logo{ font:2em/.6em Oswald, sans-serif; cursor:pointer; padding:30px 10px; }*/

/* Black & White */
.site-header-bar { background-color: white; color:#333; }
.site-logo{ font:2em/.6em Oswald, sans-serif; cursor:pointer; padding:15px 7px; }

div.menu-header-bar { background-color:#EEE; color:#333; }
span.active-link{ 
    border-bottom:solid 3px #333;
}
a.menu-link{
    text-decoration:none;
    color:inherit;
}
a.menu-link.active{ font-weight:700; }






button.text-button { background-color:inherit; border:none; cursor:pointer; }



div.tier-details{ height:200px; line-height:25px; padding:8px; }
div.tier-header{ border-bottom: solid 1px #aaa; background-color: #189ad3; color:white; border-top-left-radius: 4px; border-top-right-radius: 4px; }

a.action-button{ padding:10px; border-radius: 21.5px; font-weight:500; color: #282c3f; border: 1px solid #dbdbdb; text-decoration:none; }
span.action-button{ min-width:100px; padding:10px; }
button.action-button{ min-width:100px; padding:10px; border-radius: 21.5px; font-weight:500; color: #282c3f; border: 1px solid #dbdbdb; background-color:white;  }
div.action-button{ padding-top:30px; }

a.action-button.small{ padding:7px; border-radius: 15.5px; }
span.action-button.small{ padding:7px; }
button.action-button.small{ min-width:50px; padding:7px; border-radius: 15.5px;  }
div.action-button.small{ padding-top:30px; }


div.menu-icon{ text-align:right; margin: 10px 0 0 0; }
img.menu-icon{ padding-right:10px; display: inline; vertical-align:middle; }
span.menu-icon{ padding-right:30px; display: inline; vertical-align:bottom; }



span.cart-cnt{ 
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 2px 5px;
    margin: 0px;
    position: relative;
    top: -9px;
    left: 35px;
}
a.cart-cnt{ text-decoration: none; }

 


.dropdown-content {
    display:none; 
    left: inherit;
    top: inherit;
    position: absolute;
    background-color: white;
    border: solid 1px #F1F1F1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-holder{ width:116px; padding-left:300px; }

.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial;
}

.dropdown a:hover {background-color: #ddd;}

.tag{     
    background-color: rgb(200,200,255);
    margin: 6px;
    padding: 8px;
    border-radius: 7px;
    display: inline-flex;
    font-size:13px;
}

@media only screen and (max-width: 800px) {
    
    
    
    .container{ padding-left:0px; padding-right:0px; } 
    
    .cell-holder { width:39px; }
    .large-cell-holder { width:45px; }
    
    .table-li { min-width:50px; }
    .data-cell{ font-size:10px; }
    .header-cell{ font-size:10px; }
    
    div.tier-details{ height:200px; line-height:20px; padding:8px; }
    
    div.card.tier{ margin:0px 5px 10px 5px; }
    div.card.tier:first-child{ margin:0px 5px 10px 5px; }
    div.card.tier:last-child{ margin:0px 5px 10px 5px; }
    
    /*div.card.tier{ max-width:450px; } */
    
    .dropdown-content {
        display:none; 
        left: inherit;
        top: inherit;
        position: absolute;
        background-color: white;
        border: solid 1px #F1F1F1;
        min-width: 100px;
        overflow: auto;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .menu-holder{ right:1px; position:absolute; width:116px; }


    .tag{     
        background-color: rgb(200,200,255);
        margin: 4px;
        padding: 6px;
        border-radius: 7px;
        display: inline-flex;
        font-size:10px;
    }
    
    
    /* Colored */
    /*.site-logo{ font:1.3em/.6em Oswald, sans-serif; cursor:pointer; padding:14px 5px; }*/

    /* Black & White */
    .site-logo{ font:1.3em/2.0em Oswald, sans-serif; cursor:pointer; padding:10px 5px; }
    
    .text-container.medium{
        height: 110px;
    }
}