
/** unused except for jquery identification **/
.off_radio1 {}
.off_radio4 {}
.off_radio3 {}
.off_radio2 {}

.def_radio1 {}
.def_radio4 {}
.def_radio3 {}
.def_radio2 {}

/**    **/



.container { padding: 5px; display:block; }

.card { box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2); display:block; text-align:left;  margin-bottom:20px; }

#banner{ 
    padding: 10px 0px 10px 0px;
}

.toggle-row {}

#banner.closed{ 
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0px;
    transition: all .75s;
   -webkit-transition: all .75s;

}

div.card.tier{ border-radius: 4px; margin:0px 10px 10px 10px; padding:0px; }
div.card.tier:first-child{ margin:0px 10px 10px 0px; }
div.card.tier:last-child{ margin:0px 0px 10px 10px; }
.sortable{ cursor:pointer; }
span.pointer{ cursor:pointer; }


span.tag-on{ padding-left:7px; padding-right:7px; border-bottom: solid 2px #333; cursor:pointer; }
span.tag-off{ padding-left:7px; padding-right:7px; border-bottom: none;   cursor:pointer; }

span.tag-on.blue{ border-bottom: solid 2px blue!important; }

.non-dashboard-landing{
    width:100%;
    padding:0;
}

.left-menu{
    background-color: #FFF;
    min-height:400px;
}

.left-menu-item{
    margin:8px;
}
.left-menu-item.active{
    /*border-bottom: solid 2px #44D;*/
    font-weight: 700;
    color: white;
    background-color: #88F;
    border-radius: 0px 10px 10px 0px;
}

.right-content{
    
}

.filters-panel{
    
}

.right-content-panel{
    display:none;
    padding:0px;
}
.right-content-panel.active{
    display:block;
}

//Media
/*
.non-dashboard-landing{
    margin:1%;
    width:98%;
}

*/
.panel{}
.panel_tag{}

.text-container{
    padding:10px; padding-top:20px;
}

.text-container.medium{
    height: 140px;
    
}

.settings-bar.not-shown{
    max-height: 0;
    transition: opacity 1s, color 1s, max-height .5s;
    overflow: hidden;
    color: #DFD;
    
    opacity: 0;
}


.settings-bar{
    background-color: #EEF;
    color: #444;
    opacity: 1;
    transition: opacity 1.5s, color 1s, max-height .5s;
}
.settings-bar.single-row{
    max-height: 30px;
}

.settings-bar.rounded{
    
    border-radius: 0px 0px 10px 10px;
}

.refreshing-bar.not-shown{
    max-height: 0;
    transition: opacity 2s, color 2s, max-height 1s;
    overflow: hidden;
    color: #FFF;
    
    opacity: 0;
}

.refreshing-bar{
    color: #833;
    opacity: 1;
    
    max-height: 30px;
    transition: opacity .5s, color .5s, max-height .5s;
}

.gear-settings {
    padding: 0;
}

.options-bar {
    
}

ul.table-ul{ display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #FFF;
    text-align: center;
}

.table-li {
    margin:0px;
}

.cell-holder { width:80px; }
.large-cell-holder { width:100px; }

div.row-header{ border-bottom:solid 1px #333; padding:0px; margin:0px;}
div.header{ font-weight:700; cursor:pointer; }

li.right{ margin:0px; }
li.centered{ margin:0px; }
li.left{ margin:0px; }
div.exp-scroll{ 
    overflow-y: auto;
    max-height: 300px;
    line-height:25px;
}
div.overlay{
    color: #333;
    cursor: pointer;
    position: fixed;
    width: 818px;
    text-align: left;
    font-size: 10px;
    display: none;
    background-color: white;
    margin: 200px 0px 0px 102px;
    border: solid 10px #888;
    z-index: 999;
    max-height:500px;
}

div.overlay.shown{
    display:block;
}

.margin{ margin:5px;padding:0px 5px; border-radius:5px; }
.margin.white{ background-color: white;  }


div.home-page-section {
    min-height:195px; 
    line-height:20px; 
    
    /*padding:0px 0px 30px 0px;*/
    padding:0px 0px 0px 0px;
}
div.home-page-section-header {
    
    /*border-top: solid 1px #333;*/
    padding:10px 5px 5px 10px;
    
    display: flex;
    min-height:25px; 
    
}

.home-page-section-header {
    
    font: 1.7em/.6em Oswald, sans-serif;
    padding-left:5px;
}



.dashboard-label {
    
    font: 1.1em/1.1em Oswald, sans-serif;
    padding-left:5px;
}



div.non-dashboard-section {
    
    line-height:20px; 
    
    
    padding:0px 0px 0px 0px;
    margin: 0px 5px 30px 5px;
}

div.non-dashboard-section:first-child {  margin-left:0px; }
div.non-dashboard-section:last-child {  margin-right:0px; }
    
.slider-overlay{
    opacity: 1;
    fill: #FFF;
    stroke: #CCF;
    stroke-width: 2px;
    color: #333;
    transition: opacity 500ms;
}
.slider-overlay.hidden{
    opacity: 0;
    transition: opacity 500ms;
}



div.non-dashboard-section-header {
    
    /*border-top: solid 1px #333;*/
    padding:10px 10px 10px 10px;
    
    display: flex;
    min-height:25px; 
    
}

.settings { }
.explanation { }
.toggle { }

.non-dashboard-label{
    line-height:26px;
    cursor: pointer;
}

.non-dashboard-section-header {
    
    font: 1.7em/.6em Oswald, sans-serif;
    padding-left:5px;
}

div.home-page-section-summary {
    
    border-bottom: solid 1px #D8D8D8;
    padding: 0;
    min-height:40px; 
    
}

div.home-page-section-footer {
    
    
    padding: 0;
    min-height:30px; 
    border-bottom: solid 1px #D8D8D8;
}

div.home-page-section-details{
    background-color: #EEF;
}

div.home-page-section-details.small{
    
    min-height:140px; 
    padding: 0px 5px;
    
}

div.home-page-section-details.normal {
    
    padding: 0px 5px;
    min-height:200px; 
}

div.home-page-section-summary-detail {
    
    padding: 5px 0px 2px 5px;
    
}

div.home-page-section:nth-child(even) {background-color: #FDFDFD; }
div.home-page-section:nth-child(odd) {background-color: #FFF; }


.dashboard-tile{
    cursor: pointer;
}

span.single_stat{ 

line-height: 36px;

}

.slider-background{ 
    fill: #DDF; 
}

span.tile-message{ 

    line-height: 24px;

}


rect.spark-bar-background{
    stroke: #ECECEC;
}

.dashboard-tile-header{
    
}

.dashboard-tile-content{
    min-height:200px;
}



.non-dashboard-tile-content{
    padding: 0px 10px;
    min-height:200px;
}


.non-dashboard-tile-section{
    min-height:200px; padding:0px 5px; margin-right:5px; border-right: solid 1px #AAA;
}
.bigger .non-dashboard-tile-section{
    min-height:280px;
}

.non-dashboard-tile-section:last-child{ padding-right:0px; margin-right:0px; border-right:none; }
.non-dashboard-tile-section:first-child{ padding-left:0px; margin-left:0px; }

.non-dashboard-tile-content.bigger{
    min-height:300px;
}

.dashboard-tile-help-icon{
    
}

.breadcrumbs{
    padding: 0;
}

@media only screen and (max-width: 800px) {
    
    
    div.non-dashboard-section {
        margin: 0px 0px 30px 0px;
    }

    .gear-settings {
        padding: 0px 10px 0px 0px;
    }

    .dashboard-tile-content{
        display:none; 
    }
    
    .dashboard-tile-content.visible{
        display:block; 
    }
    
    .non-dashboard-tile-content{
        display:none; 
    }
    
    .non-dashboard-tile-content.visible{
        display:block; 
    }
    .non-dashboard-tile-section{
        padding: 0px 0px 20px 0px; margin-right:0; border: none;
    }
    
    .dashboard-tile-help-icon{
        visibility:hidden;
    }
    
    .dashboard-tile-help-icon.icon-visible{
        visibility:visible;
    }
    
    div.home-page-section-details.normal {
        padding: 0px 5px;
        min-height: 0;
    }


}

.mouseover-link{ }

.mouseover-link:hover {
    text-decoration: underline;
}    

div.spark-bar{
    padding: 0;
    margin-top: 3px; 
}

.icon-15{ height:15px; width:15px; }

div.small_graph{ height: 170px; }

.chart-axis-label { font-family:Arial; }   
.chart-axis-label.small { font-size:12px; }  
.chart-axis-label.bigger { font-size:14px; }  

.chart-tick-label { font-family:Arial; }    
.chart-tick-label.small { font-size:10px; }  
.chart-tick-label.bigger { font-size:12px; }  

.chart-title-label { font-family:Arial; }    
.chart-title-label.small { font-size:20px; } 
.chart-title-label.bigger { font-size:24px; }    

 
ul.header-row { list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; }

.header-cell { padding:2px 5px;  background-color:maroon; color:white; font-weight:700;  display: block; position: relative;  vertical-align:middle; }


ul.data-row { list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%; }
    
   
div.table-row{ padding: 0px; }   
div.table-row{ padding: 0px; }   
div.table-row:nth-child(even) {background-color: #EEE; }
div.table-row:nth-child(odd) {background-color: #FFF; }

li.data-cell { margin:0; padding:2px 5px; display: block; position: relative;  vertical-align:middle; }

/* Colored */
/*.site-header-bar { background-color: #33f; color:white; }
.site-logo{ font:2em/.6em Oswald, sans-serif; cursor:pointer; padding:30px 10px; }*/

/* Black & White */
.site-header-bar { background-color: white; color:#333; }
.site-logo{ font:2em/.6em Oswald, sans-serif; cursor:pointer; padding:15px 7px; }

div.menu-header-bar { background-color:#EEE; color:#333; }
span.active-link{ 
    border-bottom:solid 3px #333;
}
a.menu-link{
    text-decoration:none;
    color:inherit;
}
a.menu-link.active{ font-weight:700; }


span.large-dot{
    height:15px;
    width:15px;
    padding: 0;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #DDD;
    vertical-align: text-top;
}




button.text-button { background-color:inherit; border:none; cursor:pointer; }



div.tier-details{ height:200px; line-height:25px; padding:8px; }
div.tier-header{ border-bottom: solid 1px #aaa; background-color: #189ad3; color:white; border-top-left-radius: 4px; border-top-right-radius: 4px; }

a.action-button{ padding:10px; border-radius: 21.5px; font-weight:500; color: #282c3f; border: 1px solid #dbdbdb; text-decoration:none; }
span.action-button{ min-width:100px; padding:10px; }
button.action-button{ min-width:100px; padding:10px; border-radius: 21.5px; font-weight:500; color: #282c3f; border: 1px solid #dbdbdb; background-color:white;  }
div.action-button{ padding-top:30px; }

a.action-button.small{ padding:7px; border-radius: 15.5px; }
span.action-button.small{ padding:7px; }
button.action-button.small{ min-width:50px; padding:7px; border-radius: 15.5px;  }
div.action-button.small{ padding-top:30px; }


div.menu-icon{ text-align:right; margin: 10px 0 0 0; }
img.menu-icon{ padding-right:10px; display: inline; vertical-align:middle; }
span.menu-icon{ padding-right:30px; display: inline; vertical-align:bottom; }



span.cart-cnt{ 
    font-size: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 2px 5px;
    margin: 0px;
    position: relative;
    top: -9px;
    left: 35px;
}
a.cart-cnt{ text-decoration: none; }

 


.dropdown-content {
    display:none; 
    left: inherit;
    top: inherit;
    position: absolute;
    background-color: white;
    border: solid 1px #F1F1F1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.overlay-content {
    display:none; 
    left: inherit;
    top: inherit;
    position: absolute;
    background-color: white;
    border: solid 1px #F1F1F1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-holder{ width:116px; padding-left:300px; }
.overlay-holder{ width:116px; padding-left:300px; }

.dropdown {
  position: relative;
  display: inline-block;
}





.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial;
}

.dropdown a:hover {background-color: #ddd;}

.tag span{ cursor:pointer; }
.tag{     
    margin: 3px;
    padding: 3px 4px;
    border-radius: 10px;
    display: inline-flex;
    background-color: inherit;
    border: solid 1px rgb(200,200,255);
}

.offensive_calculation_radio {}
.defensive_calculation_radio {}
.offensive_peers_radio {}
.defensive_peers_radio {}
.faceoffs_calculation_radio {}
.faceoffs_peers_radio {}
.goalkeepers_calculation_radio {}
.goalkeepers_peers_radio {}

div.stat-select {}
select.stat-select{
    width:100%;
    padding:0;
}

.toggle-ball.set{ fill: #33F; }
.toggle-ball{ fill: #EEF; }

.toggle-background.set{ fill: #33F; }
.toggle-background{ fill: #EEF; }

.stat-tags {}
.filter-options {}

.tag.active{     
    
    background-color: rgb(200,200,255);
    
}


@media only screen and (max-width: 800px) {
    
    
    
    .container{ padding-left:0px; padding-right:0px; } 
    
    .cell-holder { width:39px; }
    .large-cell-holder { width:45px; }
    
    .table-li { min-width:50px; }
    .data-cell{ font-size:10px; }
    .header-cell{ font-size:10px; }
    
    div.tier-details{ height:200px; line-height:20px; padding:8px; }
    
    div.card.tier{ margin:0px 5px 10px 5px; }
    div.card.tier:first-child{ margin:0px 5px 10px 5px; }
    div.card.tier:last-child{ margin:0px 5px 10px 5px; }
    
    /*div.card.tier{ max-width:450px; } */
    
    
    .dropdown-content {
        display:none; 
        left: inherit;
        top: inherit;
        position: absolute;
        background-color: white;
        border: solid 1px #F1F1F1;
        min-width: 150px;
        overflow: auto;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .overlay-content {
        display:none; 
        left: inherit;
        top: inherit;
        position: absolute;
        background-color: white;
        border: solid 1px #F1F1F1;
        min-width: 100px;
        overflow: auto;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .menu-holder{ right:1px; position:absolute; width:156px; }


    .tag{     
        background-color: rgb(200,200,255);
        margin: 4px;
        padding: 6px;
        border-radius: 7px;
        display: inline-flex;
        font-size:10px;
    }
    
    
    /* Colored */
    /*.site-logo{ font:1.3em/.6em Oswald, sans-serif; cursor:pointer; padding:14px 5px; }*/

    /* Black & White */
    .site-logo{ font:1.3em/2.0em Oswald, sans-serif; cursor:pointer; padding:10px 5px; }
    
    .text-container.medium{
        height: 110px;
    }
    
    div.overlay{
        width: 80%;
        margin: 10%;
        height:80%;
        
    }
    
    div.exp-scroll{ 
    
        height: 100%;
        line-height:22px;
    }
    
        
    .chart-axis-label.small { font-size:11px; }  

    .chart-tick-label.small { font-size:7px; }  

    .chart-title-label.small { font-size:16px; }   
}