

body{ margin:0px; }
div{ padding: 5px 0px; }
span{ padding: 5px; }
div.viewbox{ width:1024px; min-height:700px; padding:0; margin:auto; }

.no-padding{ padding:0px; }

.font-11{ font-size:11px; }
.font-12{ font-size:12px; }
.font-14{ font-size:14px; }
.font-13{ font-size:13px; }
.font-15{ font-size:15px; }
.font-18{ font-size:18px; }
.font-24{ font-size:24px; }
.font-30{ font-size:30px; }
.font-36{ font-size:36px; }
.font-40{ font-size:40px; }
.font-48{ font-size:48px; }

input.small{ width:40px; }
input.medium{ width:100px; }
input.large{ width:160px; }
select.small{ width:40px; }
select.medium{ width:100px; }
select.large{ width:160px; }

div.page-title{ padding-top:20px; }

@media only screen and (max-width: 800px) {
    
    div.viewbox{ width:98%; margin:0 1%; min-height:400px; }
    .font-40{ font-size:30px; }
    .font-36{ font-size:24px; }
    .font-24{ font-size:18px; }
    .font-18{ font-size:15px; }
    .font-13{ font-size:10px; }
    .font-14{ font-size:11px; }
    .font-15{ font-size:12px; }
    .font-12{ font-size:9px; }
    .font-11{ font-size:8px; }
}