
{% extends layout %}


{% block body %}
        <div class='col-12 centered' id='banner'></div>
        {% if misc.breadcrumbs %}
            <div class='col-12 centered'>
                {{misc.breadcrumbs}}
            </div>
        {% endif %}
        
        <div class='col-12 page-title'>
            <span class='font-24 pointer bold'>My Account</span>
        </div>
        <div class='col-12 flex-block'>
            <div class='col-6-12' style='padding-top:20px;'>
                <div class='col-12 bbottom'><span class='font-18 bold pointer'>My Profile</div>
                <div class='col-12'><span class='font-13 light'>Username</div>
                <div class='col-12'><span class='font-15'>{{user_obj.username_str}}</div>
                <div class='col-12'><span class='font-13 light'>Email</div>
                <div class='col-12'><span class='font-15'>{{user_obj.email_str}}</div>
                <div class='col-12'><span class='font-13 light'>Name</div>
                <div class='col-12'><span class='font-15'>{{user_obj.name_str}}</div>
                <div class='col-12'><span class='font-13 light'>Phone</div>
                <div class='col-12'><span class='font-15'>{{user_obj.phone_str}}</div>

                <div class='col-12 action-button'><a  href='/profile' class='action-button'><span class='action-button font-15'>EDIT PROFILE</span></a></div>

            </div>
            <div class='col-6-12' style='padding-top:20px;'>
                <div class='col-12 bbottom'><span class='font-18 bold pointer'>Preferences</div>
                {{misc.preferences_html|safe}}

                <div class='col-12 action-button'><a href='/preferences' class='action-button'><span class='action-button font-15'>EDIT PREFERENCES</span></a></div>

            
            </div>
            
        </div>
        <div class='col-12 flex-block'>
            <div class='col-6-12' style='padding-top:20px;'>
                <div class='col-12 bbottom'><span class='font-18 bold pointer'>Security</div>

                <div class='col-12 action-button'><a href='/password' class='action-button'><span class='action-button font-15'>CHANGE PASSWORD</span></a></div>

            </div>
            <div class='col-6-12' style='padding-top:20px;'>
                <div class='col-12 bbottom'><span class='font-18 bold pointer'>Subscription</div>
                <div class='col-12' id='subscription_div'></div>
            </div>
        </div>




<script>
    var on_mobile = null;
    var console_log = []; var success = null;
    var time_log = JSON.parse({{misc.time_log|to_json2}});

    var misc = {{misc|to_json2}};
    function pop_subscription(){
        elem = $("#subscription_div"); elem.empty();
        
        if(misc.num_subscriptions == 0){
            elem.append("<div class='centered col-12'><span class='contents font-14'>You have no active subscriptions. I bet you'd enjoy this site more if you signed up for one! And remember, I offer a 100% no-questions-asked refund if you don't end up seeing the value you expected.</span></div>");
        }
        else{
            html = "<div class='flex bbottom'>";
                html += "<div class='col-3'><span class='bold font-14'>Group</span></div>";
                html += "<div class='col-3'><span class='bold font-14'>Valid Until</span></div>";
                html += "<div class='col-6 right'></div>";
            html += "</div>";
            elem.append(html);
            for(var a = 0;a<misc.all_subscriptions.length;a++){
                sub = misc.all_subscriptions[a];
                html = "";
                html += "<div class='bbottom light no-padding'>";
               
                    html += "<div class='flex'>";
                        html += "<div class='col-3'><span class='font-14'>" + sub.group_name + "</span></div>";
                        html += "<div class='col-3'><span class='font-14'>" + sub.end_date_str + "</span></div>";
                        
                        if(sub.is_admin == 1){
                            html += "<div class='col-3 right'>";
                            html += "<FORM  action='/edit_group' method=POST><input type=hidden name='group_ID' value='" + sub.group_ID + "'>"
                            html += "<button id='edit_group_members_button" + a + "' class='light font-14 pointer text-button' type=submit><span class='pointer'>Members</span></button>";
                            html += "</FORM>";
                            html += "</div>";
                            
                            
                            html += "<div class='col-3 right'>";
                            html += "<FORM action='/subscription' method=POST><input type=hidden name='confirmed' value='no' /><input type=hidden name='subscription_ID' value='" + sub.ID + "'>"
                            html += "<button id='edit_subscription_button" + a + "' class='light font-14 pointer text-button' style=''  type=submit><span class='pointer'>Manage</span></button>";
                            html += "</FORM>";
                            html += "</div>";
                        }
                        else{
                            html += "<div class='col-3 right'></div>";
                            html += "<div class='col-3 right'></div>";
                        }
                        
                    html += "</div>";
                
                html += "</div>";
                elem.append(html);
            }
        }
    }
    function redraw(){
        pop_subscription();
    }
    redraw();
    
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}