{% extends 'layout_error.html' %}

{% block body %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>
        LacrosseReference - PRO: Oops
    </title>
    <link rel="stylesheet" href="static/css/laxref.css" /><link rel="stylesheet" href="static/css/llg.css" />
    
  </head>
  <body>
    
		<img id='user_adjustment_pixel' style='display:none; visibility:hidden; height:1px;' src=''/>
    
    <div class='col-12 dtop centered'><img src='static/img/404_dtop.png' /></div>
    <div class='col-12 mob centered'><img src='static/img/404_mob.png' /></div>
    <script>
     
    </script>
  
</body></html>
<script>
    $( "#threedot" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    $( "#personicon" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}
