
{% extends "layout_admin.html" %}


{% block body %}

        <div class='col-12 centered' id='banner'></div>
        {% if misc.breadcrumbs %}
            <div class='col-12 centered'>
                {{misc.breadcrumbs}}
            </div>
        {% endif %}

        <div class='col-12 page-title'>
            <span class='font-24 pointer bold'>LaxRef PRO: Explanations</span>
        </div>
        {% if misc.error %}
            <div class='col-12 error centered'><span class='error' >{{misc.error}}</span></div>
        {% endif %}
        {% if misc.msg %}
            <div class='col-12 centered'><span class='msg' style='color:blue;' >{{misc.msg}}</span></div>
        {% endif %}
        <div class='bbottom flex'>
            <div class='col-3'><span class='bold font-15 contents'>HTML Page</span></div>
            <div class='col-3'><span class='bold font-15 contents'>Tag</span></div>
            <div class='col-5'><span class='bold font-15 contents'>Header Text</span></div>
            <div class='col-1'></div>
        </div>
        <div class='right '>
            <FORM action='/explanations' method=POST>
                <button name='action' value='new_explanation' class='action-button'><span class='font-12'>NEW</span></button>
            </FORM>
        </div>
        
        {% for e in misc.explanations %}
            <FORM action='/explanations' method=POST><input type=hidden name='ID' value='{{e.ID}}' />
            <div class='flex'>
                <div class='col-3'><span class=' font-15 contents'>{{e.html_page}}</span></div>
                <div class='col-3'><span class=' font-15 contents'>{{e.tag}}</span></div>
                <div class='col-5'><span class=' font-15 contents' style='color:{{e.color}};'>{{e.header_text}}</span></div>
                <div class='col-1'><button name='action' value='view_explanation' class='action-button'><span class='font-12'>EDIT</span></button></div>
            </div>
            </FORM>
        {% endfor %}


<script src="/static/js/create.js"></script>
<script>
    
    $( "#threedot" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    $( "#personicon" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}