
{% extends "layout_no_auth.html" %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}
    <div class='col-12 flex'>
        <div class='col-4-1'></div>
        <div class='col-4-10' style='background-color: #F9F9F9;'>
            <FORM action='/forgot' method=POST>
            <div class='col-12 centered'>
                
                <div class='col-12'><span class='font-15 contents' style='padding:10px;'>Enter the username or email associated with the account and click 'Submit' to reset your password.</span></div>
                <div class='col-12'><input type=text name='username' id='username' value='' placeholder="Enter Username/Email" /></div>
                
                {% if misc.error %}
                    <div class='col-12 error'><span class='error' >{{misc.error}}</span></div>
                {% endif %}
                
                {% if misc.msg %}
                    <div class='col-12'><span style='color:blue;' class='font-15'>{{misc.msg}}</span></div>
                {% else %}
                    <div class='col-12'><button class='action-button' type=submit name='action' value='reset_password_username' id='submit_me' />Reset Password</button></div>
                {% endif %}
            </div>
            </FORM>
        </div>
        <div class='col-4-1'></div>
    </div>


<script>
    
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>

{% endblock %}
