
{% extends "layout_no_auth.html" %}


{% block body %}

    <div class='col-12 flex-block'>
        <div class='col-10-12' style='padding:50px 20px 5px 0px;'>
            <div class='col-12'>
                <span class='font-30' style='display:contents;'>Make LacrosseReferencePRO your personal analytics expert.</span>
            </div>
            <div class='col-12 flex' style='padding-top:60px;'>
                <div class='col-1'></div>
                <div class='col-11'>
                <div class='col-11 gradient-shaded'><span class='font-18'>Access to all our advanced data, above and beyond what is on the public site.</span></div></div>
            </div>
            <div class='col-12 flex'>
                <div class='col-1'></div>
                <div class='col-11'>
                <div class='col-11 gradient-shaded'><span class='font-18'>Automatic, timely reports that get you what you need when you need it.</span></div></div>
            </div>
            <div class='col-12 flex'>
                <div class='col-1'></div>
                <div class='col-11'>
                <div class='col-11 gradient-shaded'><span class='font-18'>Increased efficiency through automation and customizable content tailored to you.</span></div></div>
            </div>
        </div>
        <div class='col-2-12 centered' style='border-radius:10px; background-color:#EEE;'>
            <div class='bbottom' style='width:90%; margin:0% 5%;'>
                <div class='col-12'>
                    <span class='font-24 bold'>Basic</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>$25</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>What is Basic?</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>Add to Cart</span>
                </div>
            </div>
            <div class='bbottom' style='width:90%; margin:0% 5%;'>
                <div class='col-12'>
                    <span class='font-24 bold'>Media</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>$50</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>What is Media?</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>Add to Cart</span>
                </div>
            </div>
            <div class='' style='width:90%; margin:0% 5%;'>
                <div class='col-12'>
                    <span class='font-24 bold'>Team</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>What is Team?</span>
                </div>
                <div class='col-12'>
                    <span class='font-15'>Request a Quote</span>
                </div>
            </div>
        </div>
    </div>
  

<script>
    
    finish_load();
    
</script>

{% endblock %}