
<!doctype html>
<html>
  <head>
    {% if user_obj.track_GA %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90014763-2"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}  gtag('js', new Date()); gtag('config', 'UA-90014763-2'); </script>
    {% endif %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <title>
        {% if misc.title %}
            {{misc.title}}
        {% else %}
            LacrosseReference - PRO
        {% endif %}
    </title>
    <link rel="stylesheet" href="static/css/oswald.css" />
    <link rel="stylesheet" href="static/css/LR_aesthetics.css" />
    <link rel="stylesheet" href="static/css/LR_elements.css" />
    <link rel="stylesheet" href="static/css/LR_spacing.css" />
    <link rel="stylesheet" href="static/css/LR_structural.css" />
    
    <script src="static/js/laxref.js"></script>
    <script src="static/js/laxrefpro.js?dt=1"></script>
    <script src="static/js/jquery.min.js"></script>

  </head>
  <body onclick='menu_toggle(true)'>
  
  <div class='viewbox'>
        <div class='col-12 flex site-header-bar no-padding' style='border-bottom:solid 1px black;'>
            
          
            <div class='col-7 no-padding flex'>
                <span id='main_logo' class='dtop site-logo' ><a class='menu-link' href='/'>LacrosseReference PRO</a></span>
                <span class='mob site-logo'><a class='menu-link' href='/'>LacrosseReference PRO</a></span>
            </div>
            <div class='col-5 right dtop no-padding menu-icon' style=''>
             <img class='menu-icon' style=' ' title='{{user_obj.email_decrypted}}' id='personicon' src='/static/img/person30.png'>
               <div class='menu-holder'>
                <div id="menu_modal_dtop" class="dropdown-content">
                    <a class='font-15' id='home_link' href="/">Home</a>
                    <a class='font-15' id='account_link' href="/account">My Account</a>
                    {% if user_obj.num_active_groups > 1 %}
                        <a id='switch_active_group' href="/switch_groups">Switch Teams</a>
                    {% endif %}
                    
                    {% if user_obj.is_admin %}
                        <a class='font-15' id='admin' href="/admin">Admin</a>
                    {% endif %}
                    <a class='font-15' href="/help{{misc.handler}}">Help</a>
                    <a class='font-15' id='signout_link' href="/logout">Sign Out</a>
                </div>
                </div>
            </div>
            <div class='col-5 right mob menu-icon' style=''>
                <img class='menu-icon' id='threedot' style='' src='/static/img/threedotmenu.png'>
                <div class='menu-holder'>
                    <div id="menu_modal_mob" class="dropdown-content">
                        <a class='font-15' href="/">Home</a>
                        <a class='font-15' href="/team_opponents">Opponents</a>
                        <a class='font-15' href="/team_my_team">My Team</a>
                        <a class='font-15' href="/team_explore" style='border-bottom: solid 1px #999;'>Explore</a>
                        <a class='font-15' href="/account">My Account</a>
                        {% if user_obj.num_active_groups > 1 %}
                            <a id='switch_active_group' href="/switch_groups"><span class='font-15'>Switch Teams</span></a>
                        {% endif %}
                        {% if user_obj.is_admin %}
                            <a class='font-15' id='admin' href="/admin">Admin</a>
                        {% endif %}
                        <a class='font-15' href="/help{{misc.handler}}">Help</a>
                        <a class='font-15' href="/logout">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>

        
        {% block body %}{% endblock %}
 
    
  </div>
  <div class='col-12 centered'><span class='font-14'>{{misc.copyright|safe}}</span></div>
  
  </body>
</html>

