
{% extends "layout_no_auth.html" %}


{% block body %}

    <div class='col-12 flex'>
        <div class='col-5-1'></div>
        <div class='col-2-10' style='background-color: #F9F9F9;'>
            <FORM action='/' method=POST>
            <div class='col-12 centered'>
                
                <div class='col-12'><input type=text name='username' id='username'  placeholder="Username" /></div>
                <div class='col-12'><input type=password name='password' id='password' placeholder="Password" /></div>
                {% if misc.error %}
                    <div class='col-12 error'><span class='error' >{{misc.error}}</span></div>
                {% endif %}
                <div class='col-12'><button type=submit id='submit_me' />Submit</button></div>
                <div class='col-12'><a href='/forgot'><span class=''>Forgot Password</span></a></div>
                
                <div class='col-12'><a href='/register'><span class=''>Create Account</span></a></div>
            </div>
            </FORM>
        </div>
        <div class='col-5-1'></div>
    </div>
  
{% endblock %}
<script>
    
</script>

