
{% extends "layout_login.html" %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}

    <div class='col-12 flex'>
        <div class='col-4-1'></div>
        <div class='col-4-10 credentials-box' style=''>
            
            <div class='col-12 no-padding'>
                <FORM action='/' method=POST><input type='hidden' name='from' value='login' />
                <div class='col-12'><input class='text-input' type=text name='username' id='username'  placeholder="Email or username" /></div>
                <div class='col-12'><input class='text-input' type=password name='password' id='password' placeholder="Password" /></div>
                <div class='col-12'>
                    <a class='font-12' href='/forgot'><span class='font-12'>Forgot your password?</span></a>
                </div>
                {% if misc.error %}
                    <div class='col-12 error'><span class='error' >{{misc.error}}</span></div>
                {% endif %}
                <div class='col-12' style='padding-top:30px;'><button class='action-button blue' type=submit id='submit_me' />Login</button></div>
                </FORM>
                <div class='col-12' style='padding-top:10px;'>
                   <button class='action-button' onclick='window.location= "/register"' id='create_button'>Create Account</button>
                </div>
            </div>
            
        </div>
        <div class='col-4-1'></div>
    </div>
  
<script>   

    var on_mobile = null;
    var console_log = []; var success = null;
    
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>





{% endblock %}