
{% extends "layout_lurker.html" %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}

        <div class='col-12 dtop flex'>
            <div class='col-4'>
                Registration Options
            </div>
            <div class='col-8'>
                Registration Rationale Testimonials
            </div>
        </div>
        <div class='col-12 mob flex'>
            <div class='col-12'>
                Registration Options
            </div>
        </div>


<script>
    $( "#threedot" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    $( "#personicon" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}
