
{% extends layout %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}

    
  <div class='col-12 flex'>
        <div class='col-4-1'></div>
        <div class='col-4-10' style='background-color: #F9F9F9;'>
            <FORM action='/password' method=POST>
            <div class='col-12'>
                
                <div class='col-12 flex'>
                    <div class='col-6'><span class='font-15'>Current Password</span></div>
                    <div class='col-5'><input type=password class='medium' name='password' id='password'  value='' placeholder="" /></div>
                    <div class='col-1'><!-- Icon to show if passwords match --></div>
                </div>
                <div class='col-12 flex'>
                    <div class='col-6'><span class='font-15'>New Password</span></div>
                    <div class='col-5'><input type=password class='medium' name='new_password' id='new_password'  value='' placeholder="" /></div>
                    <div class='col-1'><!-- Icon to show if passwords match --></div>
                </div>
                <div class='col-12 flex'>
                    <div class='col-6'><span class='font-15'>Repeat Password</span></div>
                    <div class='col-5'><input type=password class='medium' name='repeat_password' id='repeat_password'  value='' placeholder="" /></div>
                    <div class='col-1'><!-- Icon to show if passwords match --></div>
                </div>
                {% if misc.error %}
                    <div class='col-12 error centered'><span class='error' >{{misc.error}}</span></div>
                {% endif %}
                {% if misc.msg %}
                    <div class='col-12 centered'><span class='msg' style='color:blue;' >{{misc.msg}}</span></div>
                {% endif %}
                <div class='col-12 centered'><button type=submit id='submit_me' />Update Password</button></div>
            </div>
            </FORM>
        </div>
        <div class='col-4-1'></div>
    </div>


<script>
    $( "#threedot" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    $( "#personicon" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}