
{% extends layout %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}

    
  <div class='col-12 flex'>
        <div class='col-4-1'></div>
        <div class='col-4-10 credentials-box'>
            <FORM action='/password' method=POST>
            <div class='col-12'>
                
                
                <div class='col-12'><input type=password class='medium text-input' name='password' id='password'  value='' placeholder="Current Password" /></div>

                <div class='col-12'><input type=password class='medium text-input' name='new_password' id='new_password'  value='' placeholder="New Password" /></div>

                <div class='col-12'><input type=password class='medium text-input' name='repeat_password' id='repeat_password'  value='' placeholder="Repeat New Password" /></div>
             
                {% if misc.error %}
                    <div class='col-12 error centered'><span class='error' >{{misc.error}}</span></div>
                {% endif %}
                {% if misc.msg %}
                    <div class='col-12 centered'><span class='msg' style='color:blue;' >{{misc.msg}}</span></div>
                {% endif %}
                <div class='col-12 centered' style='padding-top:10px;'><button class='action-button blue' type=submit id='submit_me' />Update Password</button></div>
            </div>
            </FORM>
        </div>
        <div class='col-4-1'></div>
    </div>


<script>
    var on_mobile = null;
    var console_log = []; var success = null;
    var time_log = JSON.parse({{misc.time_log|to_json2}});
    
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}