
{% extends layout %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}

    

    <div class='col-12'>

    
    <div class='col-12 flex-block'>
        
        <div class='col-9-12 flex'>
            <div class='col-1'></div>
            <div class='col-10 centered' style='padding-top:60px; padding-bottom:40px;'>
                <div class='col-12'>
                    <span class='font-36 bold' style='color:#008;'>Follow your team at a whole new level.</span>
                </div>
                <div class='col-12' style='padding-top: 40px;'>
                    <span class='font-15 light'>More advanced stats. Favorite player features. Rapid game reports.</span>
                </div>

            </div>
            <div class='col-1'></div>
        </div>
 
        <div class='col-3-12 flex' style='border: solid 2px #AAA; border-radius:10px;'>
            
                <div class='col-1'></div>
                <div class='col-10'>
                    <FORM action='/product-summary-basic' method=POST>
                    <input type=hidden name='user_ID' value={{misc.user_ID}} />
                    <input type=hidden name='AB_group' value={{misc.AB_group}} />
                    <input type=hidden name='hash' value={{misc.hash}} />
                    <input type=hidden name='request_type' value='pre-product-notification' />
                    <div class='col-12 centered' style='border-bottom: solid 2px #88F;'>
                        {% if misc.product.status == "quotable" %}
                            <span class='font-15 contents bold'>Request a {{misc.product.product_name}} Trial</span>  
                        {% endif %}
                        {% if misc.product.status == "available" %}
                            <span class='font-15 contents bold'>LRP {{misc.product.product_name}}</span>  
                        {% endif %}
                        {% if misc.product.status == "pre-register" %}
                            <span class='font-15 contents bold'>Pre-Register: {{misc.product.product_name}}</span>  
                        {% endif %}
                    </div>
                    <div class='col-12' style='padding-top:20px'>
                        {% if misc.product.status == "quotable" %}
                            <span class='font-15 contents'>Use the form to enter your specifics. I will reach out within 24 hours to coordinate a trial account.</span>    
                        {% endif %}
                        {% if misc.product.status == "available" %}
                            <div class='centered'><span class='font-24 bold centered contents'>{{misc.product.price_str}}</span></div>
                        {% endif %}
                        {% if misc.product.status == "pre-register" %}
                            <span class='font-15 contents'>This product is not quite ready yet, but enter your email to get notified when it's ready.</span>
                        {% endif %}
                    </div>

                    {% if misc.product.call_to_action != "ADD TO CART" %}
                        <div class='col-12'>
                            <div class='col-12'><span class='font-13 light'>Email</div>
                            <div class='col-12'>
                                <input type=text value='{{misc.email_decrypted}}'  placeholder="Enter Email" name='email' id='email'class='font-15 col-12' />
                            </div>
                            
                        </div>
                    {% endif %}
                    {% if misc.error %}
                        <div class='col-12 error'><span class='error' >{{misc.error}}</span></div>
                    {% endif %}
                    {% if misc.msg %}
                        <div class='col-12 centered'><span style='color:blue;' class='font-15'>{{misc.msg|safe}}</span></div>
                    {% else %}
                        <div class='col-12 centered' style='padding-top:20px;'>
                            
                            <button id='action_button' type=submit class='action-button' name='action' value='{{misc.product.status}}'><span class='pointer font-15'>{{misc.product.call_to_action}}</span></button>
                   
                        </div>
                    {% endif %}
                    </FORM>
                </div>
                <div class='col-1'></div>
            
        
        </div>
        
    </div>
    

    </div>

    
<script> 
    
    $( "#threedot" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    $( "#personicon" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}