
{% extends layout %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}

    
    <div class='col-12 page-title'>
        <span class='font-24 pointer bold'>My Profile</span>
    </div>
    <div class='col-12 flex'>
        <div class='col-1 dtop'></div>
        
        <div id='top_container' class='col-4-11'>
        
        </div>
        
        <div class='col-7-1'></div>
    </div>


<script>

    var profile = {{user_obj.profile|to_json2}};
    var misc = {{misc|to_json2}};
    
    populate_profile(profile);    
    
    $( "#threedot" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    $( "#personicon" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}