{% extends "layout_admin.html" %}
{% block body %}
<SCRIPT>
function edit_query(s){
    var q = document.getElementById("query").value;
    
    
}

 function toggle_to_insert(){
     document.getElementById('query').value = document.getElementById('insert_query').value
     document.getElementById('insert_query').visible = false;
 }
 function toggle_to_alter(){
     document.getElementById('query').value = document.getElementById('alter_query').value
     document.getElementById('alter_query').visible = false;
 }
 function toggle_to_update(){
     document.getElementById('query').value = document.getElementById('update_query').value
     document.getElementById('update_query').visible = false;
 }


    function go(t){
        url = "/query?table=" + t;
        window.location = url;
    }

</SCRIPT>
<STYLE>
tr.table-row:nth-child(even) {background-color: #EEE; }
tr.table-row:nth-child(odd) {background-color: #FFF; }
</STYLE>
    <TITLE>LRP Query</TITLE>
	<div class="container">

	    <table width=100%>
            <FORM action="/query" method="POST">
            <tr style='padding-bottom:10px;'>
                <td>
                    <a href='/query'><span class='font-15'>Back to Query</span></a>
                </td>
                <td style='text-align:right; font-size:18px;'>
                    <select onchange='go(this.value);'  style='text-align:right; font-size:18px;'>
                        <option value=''></option>
                        {% for t in misc.tables %}
                            <option value='{{t.Tables_in_lrpdb}}'>{{t.Tables_in_lrpdb}}</option>
                        {% endfor %}
                    </select>
                </td>
                
            </tr><tr>
                <td colspan=2>
                    <input type=hidden id='insert_query' value='{{ misc.insert_query }}'>
                    <input type=hidden id='alter_query' value='{{ misc.alter_query }}'>
                    <input type=hidden id='update_query' value='{{ misc.update_query }}'>
                    <textarea style='border:1px solid blue; width:100%;'  rows=5 id='query' name='query'>{{ misc.query }}</textarea>
                </td>
                
            </tr>
            {% if misc.error %}
            <tr>
                <td colspan=2 style='color:red; font-size:18px;'>
                    <b>{{ misc.error }}</b>
                </td>
                
            </tr>
            {% endif %}
            <tr>
                <td style='font-size:18px;'>
                    <button class="action-button">Submit</button>
                </td>
                <td align=right style='font-size:18px;'>
                    <span class='font-15'>{{ misc.cnt }} record(s)</span>
                </td>
                
            </tr>
            </FORM>
        </table>
        <table class="" >    
            <tr class='bbottom'>
                {% for c in misc.columns %}
                    <th style='padding:1px;' class='left'><span class='contents font-12 bold'>{{ c }}</span></th>
                {% endfor %}
            </tr>
            <tr>
                {% for c in misc.types %}
                    <th style='padding:1px;' class='left bbottom'><span style='color:#AAA;' class='contents font-12'>{{ c }}</span></th>
                {% endfor %}
            </tr>
            {% for d in misc.data %}
            <tr class="table-row">
                {% for d_ in d %}
                    <td style='padding:1px;' class='left'><span class='contents font-12'>{{ d_|safe }}</span></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
	</div>

  
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"</script>

  </body>
  
  
</html>
{% endblock %}
