
{% extends "layout_no_auth.html" %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}
    <div class='col-12 flex'>
        <div class='col-4-1'></div>
        <div class='col-4-10' style='background-color: #F9F9F9;'>
            <FORM action='/register' method=POST><input type=hidden name='process_step' value='{{misc.process_step}}'>
            <div class='col-12 centered'>
                
                <div class='col-12'><input type=text name='username' id='username' value='{{misc.username}}' placeholder="Username" /></div>
                <div class='col-12'><input type=password name='password' id='password'  value='{{misc.password}}'placeholder="Password" /></div>
                <div class='col-12'><input type=text name='email' id='email' value='{{misc.email}}'  placeholder="Email" /></div>
                <div class='col-12'><input type=text name='phone' id='phone' value='{{misc.phone}}'  placeholder="Phone (optional)" /></div>
                <div class='col-12'><span class='font-12'>By creating your account, you agree to the <a target='_blank' href='/terms'>Terms and Conditions</a></span></div>
                {% if misc.error %}
                    <div class='col-12 error'><span class='error' >{{misc.error}}</span></div>
                {% endif %}
                {% if misc.msg %}
                    <div class='col-12 error'><span  class='msg' style='color:blue;' >{{misc.msg}}</span></div>
                {% endif %}
                <div class='col-12'><button class='action-button' type=submit id='submit_me' />Create Account</button></div>
            </div>
            </FORM>
        </div>
        <div class='col-4-1'></div>
    </div>


<script>
    
    $( "#threedot" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    $( "#personicon" ).click(function( event ) {
      event.stopPropagation(); menu_toggle();
    });
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}
