
{% extends layout %}


{% block body %}

    <div class='col-12 centered' id='banner'></div>
    {% if misc.breadcrumbs %}
        <div class='col-12 centered'>
            {{misc.breadcrumbs}}
        </div>
    {% endif %}

    <div class='col-12 dtop flex menu-header-bar'>
        <div class='col-12'>
            <a href='/' class='menu-link'><span class='menu-link' style='padding-left:10px;'><span class='font-15'>Home</span></span></a>
            <a href='/team_my_schedule' class='menu-link'><span class='menu-link' style='padding-left:10px;'><span class='font-15'>My Schedule</span></span></a>
            <a href='/team_my_stats' class='menu-link'><span class='menu-link' style=''><span class='font-15'>My Stats</span></span></a>
            <a href='/team_my_rankings' class='menu-link'><span class='menu-link' style=''><span class='font-15'>My Rankings</span></span></a>
        </div>
    </div>
  <div class='col-12 flex'>
        <div class='col-4-1'></div>
        <div class='col-4-10'  style='margin-top:20px; border:solid 1px #AAA; border-radius:5px;'>

            <div class='col-12 bbottom'>
                
                <div class='col-12 centered'><span class='font-18'><span class='bold'>Active Group:</span> {{user_obj.active_group_name}}</span></div>
                </div>
                <div class='col-12'>
                    <div class='col-12'><span class='font-15 bold'>Switch To...</span></div>
                </div>
                
                {% for t in user_obj.active_groups %}
                    {% if t.current == 0 %}
                        <FORM id='switch{{t.ID}}' action='switch_groups' method=POST><input type=hidden name='switch_to_group_ID' value='{{t.ID}}'>
                            <div class='' style='padding:5px;'>
                            <button class='mouseover-link action-button large font-15 pointer' onclick='document.getElementById("switch{{t.ID}}").submit();' style='font-weight:700; color: white; background-color: #88F;'>{{t.group_name}}</button>
                            </div>
                        </FORM>
                    {% endif %}
                {% endfor %}
                
                {% if misc.error %}
                    <div class='col-12 error centered'><span class='error' >{{misc.error}}</span></div>
                {% endif %}
                {% if misc.msg %}
                    <div class='col-12 centered'><span class='msg' style='color:blue;' >{{misc.msg}}</span></div>
                {% endif %}
            </div>

        </div>
        <div class='col-4-1'></div>
    </div>


<script>
    var on_mobile = null;
    var console_log = []; var success = null;
    var time_log = JSON.parse({{misc.time_log|to_json2}});
    
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
</script>
{% endblock %}