
{% extends "layout_main.html" %}


{% block body %}

        <div class='col-12 dtop flex menu-header-bar'>
            <div class='col-12 inline-flex'>
                <div class='no-padding'> <a href='/' class='menu-link'><span class='menu-link font-15'>Home</span></span></a></div>
                <div class='no-padding'> <a href='/team_my_schedule' class='menu-link'><span class='menu-link font-15'><span class='no-padding dtop'>My </span>Schedule</span></a></div>
                <div class='no-padding'> <a href='/team_my_stats' class='menu-link'><span class='menu-link font-15'><span class='no-padding dtop'>My </span>Stats</span></a></div>
                <div class='no-padding'> <a href='/team_my_rankings' class='menu-link'><span class='menu-link font-15'><span class='no-padding dtop'>My </span>Rankings</span></a></div>
                <div class='no-padding' id='explore_menu_item'><div class='no-padding'><a class='menu-link'><span class='menu-link font-15 pointer'>Explore</span></a></div></div>
            </div>
        </div>

        <div class='col-12 centered' id='banner'></div>
        
        
        
        {% if misc.error %}
            <div class='col-12 error centered'><span class='error' >{{misc.error|safe}}</span></div>
        {% endif %}
        {% if misc.msg %}
            <div class='col-12 error centered'><span class='' >{{misc.msg}}</span></div>
        {% endif %}
        <div class=''>
            <div class='no-padding options-bar col-12 flex'>
                <div class='no-padding col-9'>
                {% if misc.breadcrumbs %}
                    <div class='breadcrumbs'>
                        {{misc.breadcrumbs|safe}}
                    </div>
                {% endif %}
                </div>
                <div class='no-padding col-3 right'>
                    <div class='no-padding col-12 right'>
                        <div class='gear-settings'>
                            <img onclick='toggle_settings_bar("settings-bar");' id='settings-icon' class='icon-15 settings' src='/static/img/blue_gear15.png' />
                        </div>
                    </div>
                </div>
                
            </div>
            <div style='display:none'>
                <FORM action='/team_player_detail' id='settings_form' method=POST>
                    <input type=hidden id='settings_form_player_ID' name='ID' value='' />
                    <input type=hidden name='came_from' value='{{misc.came_from}}' />
                </FORM>
            </div>
            <div class='settings-bar single-row not-shown no-padding right' id='settings-bar'>
                <div class='' style='padding-right:10px;'>
                    <span class='font-13' style='padding-right:10px;'>Year</span>
                    <select class='settings-bar' id='player_focus_year' onchange='update_settings(this.id, this.value, "player_ID~{{misc.data.ID}}");'>
                        {% for y in misc.year_select_options %}
                            <option value={{y.year}}>{{y.year}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class='refreshing-bar not-shown no-padding right' id='refreshing-bar'>
                <div class='centered' style=''>
                    <span class='font-18 bold' style=''>Refreshing content...</span>
                </div>
            </div>
            
            
            <div id='' class='non-dashboard-landing'>
                <div class='col-12 mob centered no-padding'>
                    <select style='width:80%; margin: 0% 10%;' id='top_menu_select' onChange='choose_left_menu_item(this.value);'>
                        <option id='season_option' value='overview'>Season</option>
                        <option id='career_option' value='career'>Career</option>
                    </select>
                </div>
                <div class='flex col-12 no-padding'>
                    <div class='left-menu col-2-12 dtop'>
                        <div id='season_menu_item' onclick='choose_left_menu_item(this.id);' class='active left-menu-item'><span class='mouseover-link pointer font-15'>Season</span></div>
                        <div id='career_menu_item' onclick='choose_left_menu_item(this.id);' class='left-menu-item'><span class='mouseover-link pointer font-15'>Career</span></div>
                    </div>
                    <div class='right-content col-10-12' id='right-content-panel'>
                        <div class='right-content-panel' id='season_panel'>
                            <div class='col-12'>
                                <div class='non-dashboard-section card col-12' id='season_ranks_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='season_ranks_label' route="|season_ranks" class='col-11-10 no-padding non-dashboard-label'>{{misc.data.player}} Rankings</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon icon-visible' id='season_ranks_helpicon' style='margin-top:2px;'><img class='icon-15 explanation' value="team_player_detail.html|season_ranks" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='season_ranks_img' class='icon-15 toggle' onclick='toggle_tile_visibility("season_ranks");' src="static/img/Gray_Minus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content visible' id='season_ranks_div'>
                                        <div class='no-padding'>
                                            <div class='mob no-padding' style=''>
                                                <div class='settings-bar rounded not-shown no-padding' id='season-ranks-settings-bar'>
                                                    <div class='' style='margin-bottom:25px;'>
                                                        <div class='no-padding col-12 flex'>
                                                            <div class='col-12 margin white'>
                                                                <div class='light col-12 no-padding'><span class=' no-padding font-15'>Metric</span></div>
                                                                <div id='season_ranks_stat_select_mob' class='stat-select'> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class='flex no-padding'>
                                                <div class='col-2 dtop non-dashboard-tile-section' id='season_detail'>
                                                    
                                                </div>
                                                
                                                <div class='col-8-12 non-dashboard-tile-section' id='season_ranks_graph_div' style=''>
                                                
                                                </div>
                                            
                                              
                                                <div class='col-2 dtop non-dashboard-tile-section' style=''>
                                                    <div class='col-12 no-padding'><span class='no-padding font-15 bold'>Select a Stat</span></div>
                                                    <div id='ranks_stat_tags_dtop' class='stat-tags'> </div>
                                                    <div id='season_ranks_stat_select_dtop' class='stat-select'> </div>
                                                </div>
                                            
                                              
                                                
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class='col-12'>
                                <div class='non-dashboard-section card col-12' id='season_games_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='season_games_label' route="|season_games" class='col-11-10 no-padding non-dashboard-label'>Game Log</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon icon-visible' id='season_games_helpicon' style='margin-top:2px;'><img class='icon-15 explanation' value="team_player_detail.html|season_games" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='season_games_img' class='icon-15 toggle' onclick='toggle_tile_visibility("season_games");' src="static/img/Gray_Minus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content visible' id='season_games_div'>
                                        
                                    </div>

                                </div>
                               
                            </div>
                        </div>
                        <div class='right-content-panel' id='career_panel'>
                            <div class='col-12 flex-block no-padding'>
                                <div class='non-dashboard-section card col-6-12' id='career_EGA_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='career_EGA_label' route="|career_EGA" class='col-11-10 no-padding non-dashboard-label'>Career EGA</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon icon-visible' id='career_EGA_helpicon' style='margin-top:2px;'><img class='icon-15 explanation' value="team_player_detail.html|career_EGA" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='career_EGA_img' class='icon-15 toggle' onclick='toggle_tile_visibility("career_EGA");' src="static/img/Gray_Minus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content visible' id='career_EGA_div'>
                                        
                                    </div>

                                </div>
                                <div class='non-dashboard-section card col-6-12' id='career_ranks_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='career_ranks_label' route="|career_ranks" class='col-11-10 no-padding non-dashboard-label'>Career Rankings</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon' id='career_ranks_helpicon' style='margin-top:2px;'><img class='icon-15' onclick="" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='career_ranks_img' class='icon-15 toggle' onclick='toggle_tile_visibility("career_ranks");' src="static/img/Gray_Plus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content' id='career_ranks_div'>
                                        
                                    </div>

                                </div>
                            </div>
                            
                            
                            <div class='col-12'>
                                <div class='non-dashboard-section card col-12' id='career_movement_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='career_movement_label' route="|career_movement" class='col-11-9 no-padding non-dashboard-label'>Performance Trends</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon mob' id='career_movement_filtericon' style='margin-top:2px;'><img onclick='toggle_settings_bar("offensive-movement-settings-bar");' class='icon-15 settings'  src="static/img/gray_Filter150.png" /></div>
                                        <div class='col-1 right no-padding dashboard-tile-help-icon' style='margin-top:2px;'><img id='career_movement_helpicon' class='icon-15 explanation' value="team_my_stats.html|career_movement" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='career_movement_img' class='icon-15 toggle' onclick='toggle_tile_visibility("career_movement");' src="static/img/Gray_Plus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content bigger' id='career_movement_div'>
                                        <div class='no-padding'>
                                            <div class='mob no-padding' style=''>
                                               
                                                <div class='settings-bar rounded not-shown no-padding' id='career-movement-settings-bar'>
                                                    <div class='' style='margin-bottom:25px;'>
                                                        <div class='no-padding col-12 flex'>
                                                            <div class='col-4 margin white'>
                                                                <div class='light col-12 no-padding'><span class=' no-padding font-15'>Metric</span></div>
                                                                <div id='career_movement_stat_select_mob' class='stat-select'> </div>
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                    
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    
                                        <div class='flex no-padding'>
                                            <div class='col-10-12 non-dashboard-tile-section' id='career_movement_graph_div' style=''>
                                                
                                            </div>
                                        
                                          
                                            <div class='col-2 dtop non-dashboard-tile-section' style=''>
                                                <div class='col-12 no-padding'><span class='no-padding font-15 bold'>Select a Stat</span></div>
                                                <div id='career_movement_stat_tags_dtop' class='stat-tags'> </div>
                                                <div id='career_movement_stat_select_dtop' class='stat-select'> </div>
                                                
                                            </div>
                                        
                                            
                                            
                                        </div>

                                    </div>
                                </div>
                            

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    

<script src="static/js/d3.v4.min.js"></script><script src="static/js/laxrefpro_graphing.js?dt=203"></script>
<script>
    var on_mobile = null;
    var console_log = []; var success = null;
    var time_log = JSON.parse({{misc.time_log|to_json2}});
    
    var single_stat = "<div class='col-12'><span class='lightish contents font-20'>[header]</span></div>";
    single_stat += "<div class='col-12 centered ' style='padding-top:65px;'><span class='tile-message font-18'>[stat]</span></div>";
    var misc = parse_misc({{misc|to_json2}});
    console_log.push({'msg': 'Loaded misc...'});
    var user_obj = {'settings': {{user_obj.settings|to_json2}}};
    console_log.push({'msg': 'Loaded user settings...'});
    
    console.log("misc.data");
    console.log(misc.data);
    var explanations = {{user_obj.explanations|to_json2}};
    
    console.log("misc.data.player_career_stats");
    console.log(misc.data.player_career_stats);
    console.log("misc.data.season_log");
    console.log(misc.data.season_log);
    
    var ranks_stat_tag = {'season': 'EGA_per_game', 'career': 'EGA_per_game'};
    for(k in ranks_stat_tag){
        
        if(misc.stat_keys.filter( r => r.tag == ranks_stat_tag.season)[0].exclude){
            for(var a = 0;a<misc.stat_keys.length;a++){
                mk = misc.stat_keys[a];
                if(!mk.exclude){ ranks_stat_tag[k] = mk.tag; break; }
            }
        }
    }
    function click_tag(panel, tag){ 
        console.log(panel, tag);
        if(panel == "season"){ ranks_stat_tag[panel] = tag; display_overview(panel, panel); }
        if(panel == "career"){ ranks_stat_tag[panel] = tag; display_career(panel, panel); }
    }
    function display_overview(panel){ 
        if([null, 'season', '', '', ''].indexOf(panel) == -1){ return; }
        unit = "season";
        if(misc.data.current_season != null){
            id = 'season_ranks'; success = false;
            try{
                // Data
                
                    stat_key = misc.stat_keys.filter( r => r.tag == ranks_stat_tag.season)[0];
                    console.log("stat_key");
                    console.log(stat_key);
                
                    // Print the summary detail section
                    detail_elem = $("#" + unit + "_detail"); detail_elem.empty();
                    
                    html = "";
                    html += "<div class='' style='padding-top:15px;'><span class='no-padding font-12 light'>" + stat_key.display + "</span></div>";
                    html += "<div class='centered'><span class='no-padding font-18 bold'>" + stat_key.me_str + "</span></div>";
                    if( stat_key.percentile != null){
                        html += "<div class='' style='padding-top:15px;'><span class='no-padding font-12 light'>Percentile</span></div>";
                        html += "<div class='centered'><span class='no-padding font-18 bold'>" + stat_key.percentile_str + "</span></div>";
                    }
                    
                    detail_elem.append(html);
                    /* visualization */
                    
                    if(stat_key.insufficient_data){
                        $("#" + id + '_graph_div').empty();
                        $("#" + id + '_graph_div').append("<div class='centered' style='padding-top:30px;'><span class='font-18 error contents'>There is insufficient_data to calculate a league-wide distribution.</span></div>");
                    }
                    else{
                        
                        specs = {'highlight': 1, 'margin_left': 35, 'chart_size': 'bigger', 'flip': 0};
                    
                        data = {'axis_labels': {'y': 'Number of players grouped by ' + stat_key.display, 'x': stat_key.display}, 'data': []};
                        tmp = {'stroke-dasharray': '3-3', 'stroke': "#666", 'points': []}

                        tmp.points = stat_key.points;
                        data.data.push(tmp)
                        console.log(data);
                        x_ticks = create_game_x_ticks(data.data);
                        data['x_ticks'] = x_ticks.ticks; data['max_x'] = x_ticks.max; data['min_x'] = x_ticks.min;
                        y_ticks = create_numeric_y_ticks(data.data)
                        data['y_ticks'] = y_ticks.ticks;
                        data['max_y'] = y_ticks.max;  data['min_y'] = 0;
                        if(on_mobile){
                            specs.width = $('#season_ranks_container_div').width()-20;
                        }
                        else{
                            specs.width = $('#season_ranks_container_div').width()*.66667-20;
                        }
                        
                        data['legend'] = {'items': [], 'layout': 'horizontal'}
                        data.legend.items.push({'icon_type': 'rect', 'fill': 'orange', 'label': "Player Bucket"})
                        
                        vertical_bars(data, id + '_graph_div', specs);
                    }
                    // Add the stat labels
                    
                    stat_tags_ranks = $("#ranks_stat_tags_dtop"); stat_tags_ranks.empty();
                    
                    html = "";
                    
                    misc.stat_keys.sort(function(first, second) {
                        return !(second.seq - first.seq);
                    });
                    
                    //console.log("filtered_stats");
                    //console.log(filtered_stats);
                    
                    subset = filtered_stats.slice(0,6);
                    active_tag = false;
                    for(var a = 0 ;a<subset.length;a++){
                        var key = subset[a];
                        
                        html += "<div onclick='click_tag(\"season\", \"" + key.tag + "\");' class='tag" + ((key.tag == ranks_stat_tag[unit]) ? " active" : "") + "'>";
                        html += "<span class='no-padding font-11'>" + key.short + "</span>";
                        html += "</div>"
                        if(key.tag == ranks_stat_tag[unit]){ active_tag = true; }
                    }
                    stat_tags_ranks.append(html);
                    
                    
                    stat_select_ranks_dtop = $("#season_ranks_stat_select_dtop"); stat_select_ranks_dtop.empty();
                    stat_select_ranks_mob = $("#season_ranks_stat_select_mob"); stat_select_ranks_mob.empty();
                    

                    if (filtered_stats.length > 6){
                        html = "";
                        
                        html += "<div class='no-padding centered'><span class='font-12'>- OR -</span></div>";
                        html += "<select onchange='click_tag(\"season\",this.value);' class='stat-select font-12'>";
                        html += "<option ></option>";
                        
                        for(var a = 0 ;a<filtered_stats.length;a++){
                            var key = filtered_stats[a];
                            html += "<option " + ((key.tag == ranks_stat_tag[unit] && (on_mobile || !active_tag)) ? " selected" : "") + " value='" + key.tag + "'>" + key.short + "</option>";
                        }
                        html += "</select>";
                        stat_select_ranks_dtop.append(html); stat_select_ranks_mob.append(html);
                    }
                
                success = true;
            }
            catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
            
            if(!success){
                $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
                report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
            }
            
            id = 'season_games'; success = false;
            try{
                // Data
                js_data = {'no_row_count': 1, 'data': [], 'cell_size': 'small-cell-holder'}
                
                js_data.data = misc.data.game_log.filter(r=> r.this_year).sort(function(a,b){ return a.game_epoch-b.game_epoch; });
                
                for(var a = 0;a<js_data.data.length;a++){ gm = js_data.data[a];
                    gm.seq = a;
                    gm.short_code_html = "<FORM id='schedule_opp_form" + gm.seq + "' action='/team_detail' style='padding:0;' method=POST><input type=hidden name='detail_team_ID' value='" + gm.opponentID + "'><input type=hidden name='came_from' value='team_player_detail' /><span class='mouseover-link pointer font-12 contents' onclick=\"document.getElementById('schedule_opp_form" + gm.seq + "').submit();\">" + gm.short_code + "</span></FORM>";
                 
                    gm.game_date_html = "<FORM id='schedule_game_form" + gm.seq + "' action='/team_game_detail' method=POST><input type=hidden name='ID' value='" + gm.ID + "'><input type=hidden name='came_from' value='team_player_detail' />";
                    gm.game_date_html += "<span class='no-padding mouseover-link pointer font-12' onclick=\"document.getElementById('schedule_game_form" + gm.seq + "').submit();\">" + gm.game_date + "</span>";
                    gm.game_date_html += "</FORM>";
                }
                
                
                // Visualization
                console.log(js_data.data);
                js_data.fields = [];
                outer_class = {'outer_class': 'col-8-9', 'classes': []}
                js_data.classes = [{'class': 'col-2-1 mouseover-link'}, {'class': 'col-2 mouseover-link'}];
                js_data.fmt = [{'fmt': ""}, {'fmt': ""}];
                js_data.fields.push({'sort_by': 'short_code', 'tag': 'short_code_html', 'display': 'Opp'});
                js_data.fields.push({'sort_by': 'game_epoch', 'tag': 'game_date_html', 'display': 'Date'});
                if(misc.data.current_season.role == "faceoff"){ // Assume it's a FOGO
                    
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'faceoff_win_rate', 'tag': 'faceoff_record', 'display': 'Faceoffs'});
                    js_data.fmt.push({'fmt': ""})
                    
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'faceoff_win_rate', 'tag': 'faceoff_win_rate', 'display': 'Win %'});
                    js_data.fmt.push({'fmt': "1%"})
                    
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'faceoff_EGA', 'tag': 'faceoff_EGA', 'display': 'fEGA'});
                    js_data.fmt.push({'fmt': "2"})
                    
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'shots', 'tag': 'shots', 'display': 'Shots'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'sog', 'tag': 'sog', 'display': 'SOG'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'goals', 'tag': 'goals', 'display': 'Goals'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'assists', 'tag': 'assists', 'display': 'Assists'});
                    js_data.fmt.push({'fmt': "0"})
                }
                else if(misc.data.current_season.role == "offensive"){ // Assume it's a field player
                    
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'EGA', 'tag': 'EGA', 'display': 'EGA'});
                    js_data.fmt.push({'fmt': "2"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'shots', 'tag': 'shots', 'display': 'Shots'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'sog', 'tag': 'sog', 'display': 'SOG'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'goals', 'tag': 'goals', 'display': 'Goals'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'assists', 'tag': 'assists', 'display': 'Assists'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'shooting_pct', 'tag': 'shooting_pct', 'display': 'Shot%'});
                    js_data.fmt.push({'fmt': "0%"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'sog_rate', 'tag': 'sog_rate', 'display': 'SOG%'});
                    js_data.fmt.push({'fmt': "0%"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'turnovers', 'tag': 'turnovers', 'display': 'TO'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'gbs', 'tag': 'gbs', 'display': 'GBs'});
                    js_data.fmt.push({'fmt': "0"})
                    
                }
                else if(misc.data.current_season.role == "defensive"){ // Assume it's a defensive player
                    
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'EGA', 'tag': 'EGA', 'display': 'EGA'});
                    js_data.fmt.push({'fmt': "2"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'caused_turnovers', 'tag': 'caused_turnovers', 'display': 'CT'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'gbs', 'tag': 'gbs', 'display': 'GBs'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'penalties', 'tag': 'penalties', 'display': 'Pen'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'shots', 'tag': 'shots', 'display': 'Shots'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'goals', 'tag': 'goals', 'display': 'Goals'});
                    js_data.fmt.push({'fmt': "0"})
                    outer_class.classes.push({'class': 'centered'});
                    js_data.fields.push({'sort_by': 'assists', 'tag': 'assists', 'display': 'Assists'});
                    js_data.fmt.push({'fmt': "0"})
                    
                }
                
                js_data.classes.push(outer_class);
                if(js_data.data.length == 0){
                    $("#" + id + "_div").empty(); 
                    $("#" + id + "_div").append("<div class='col-12 centered' style='padding-top:20px;'><span class='font-18 error'>There are no " + misc.year + " games to display.</span></div>");
                }
                else{
                    generic_create_table(js_data, {'id': 'season_game_log', 'target_elem': 'season_games_div'});
                }
                // Mark Success
                success = true;
            }
            catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
            
            if(!success){
                $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
                report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
            }
            
            id = ''; success = false;
            try{
                
                success = true;
            }
            catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
            
            if(!success){
                $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
                report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
            }
        
        }
    }
    
    
    //misc = process_season_trends_history(misc);
    var season_trends_dates = []
    function display_career(panel){
        //console.log("display_career: " + panel);
        if([null, 'career', 'career_movement', 'career_EGA', 'career_rankings'].indexOf(panel) == -1){ return; }
        
        unit_desc = "career"; unit = "career";
        id = 'career_EGA'; success = false;
        try{
            //Data
            EGA_stat_key = misc.stat_keys.filter( r => r.tag == "EGA")[0];
            EGA_per_game_stat_key = misc.stat_keys.filter( r => r.tag == "EGA_per_game")[0];
            console.log('EGA_per_game_stat_key'); console.log(EGA_per_game_stat_key);
            //Visualization
            elem = $("#career_EGA_div"); elem.empty();
            html = ""
            
            html += "<div class='no-padding'>"
            
                // Add the top/left EGA per game block
                
                html += "<div class='no-padding flex' style='padding-top:20px;'>";
                    html += "<div class='no-padding col-6'>";
                        html += "<div class='col-12 centered bbottom light'><span class='light font-12'>Career EGA/gm</span></div>";
                        html += "<div class='col-12 centered'><span class='font-24 bold'>" + jsformat(misc.data.player_career_stats.EGA_per_game, "2") + "</span></div>";
                    html += "</div>";
                    
                    
                    html += "<div class='no-padding col-6'>";
                        html += "<div class='col-12 centered bbottom light'><span class='light font-12'>Percentile</span></div>";
                        html += "<div class='col-12 centered'><span class='font-24 bold'>" + EGA_per_game_stat_key.career_percentile_str + "</span></div>";
                    html += "</div>";
                    
                html += "</div>"; 
                html += "<div class='no-padding flex' style='padding-top:20px;'>";
                    html += "<div class='no-padding col-6'>";
                        html += "<div class='col-12 centered bbottom light'><span class='light font-12'>Career EGA</span></div>";
                        html += "<div class='col-12 centered'><span class='font-24 bold'>" + jsformat(misc.data.player_career_stats.EGA, "1") + "</span></div>";
                    html += "</div>";
                    
                    
                    html += "<div class='no-padding col-6'>";
                        html += "<div class='col-12 centered bbottom light'><span class='light font-12'>Percentile</span></div>";
                        html += "<div class='col-12 centered'><span class='font-24 bold'>" + EGA_stat_key.career_percentile_str + "</span></div>";
                    html += "</div>";
                    
                html += "</div>";    
            
            
            html += "</div>";
            
            elem.append(html);
            
            //Mark success
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
                
        
        id = "career_ranks"; success = false;
        try{
            //Data
            
            js_data = {'no_row_count': 1, 'data': [], 'cell_size': 'cell-holder'}
            
            js_data.data = []
            for(var a = 0 ;a<filtered_stats.length;a++){
                var key = filtered_stats[a];
                if(['EGA_per_game', 'EGA'].indexOf(key.tag) == -1){
                    console.log(key);
                    val = (typeof misc.data.player_career_stats[key.tag] == "undefined") ? null : misc.data.player_career_stats[key.tag];
                    val_str = val == null ? "N/A" : jsformat(val, key.jsfmt);
                    val = (typeof misc.data.player_career_stats[key.tag] == "undefined") ? null : misc.data.player_career_stats[key.tag];
                    val_str = val == null ? "N/A" : jsformat(val, key.jsfmt);
                    
                    js_data.data.push({'display': key.display, 'tag': key.tag, 'val': val, 'val_str': val_str, 'percentile': key.career_percentile, 'percentile_str': key.career_percentile_str, 'rank': key.career_rank, 'rank_str': key.career_rank_str});
                }
            }
            
            //misc.data.game_log.filter(r=> r.this_year).sort(function(a,b){ return a.game_epoch-b.game_epoch; });
            
            
            
            // Visualization
            console.log(js_data.data);
            js_data.fields = [];
            js_data.classes = [{'class': 'col-6'}, {'class': 'col-2-3 centered'}, {'class': 'col-2-3 centered'}, {'class': 'col-2-3 centered dtop'}];
            js_data.fmt = [{'fmt': ""}, {'fmt': ""}, {'fmt': ""}, {'fmt': ""}];
            js_data.fields.push({'sort_by': 'display', 'tag': 'display', 'display': 'Stat'});
            js_data.fields.push({'sort_by': 'val', 'tag': 'val_str', 'display': 'Value'});
            js_data.fields.push({'sort_by': 'percentile', 'tag': 'percentile_str', 'display': 'Percentile'});
            js_data.fields.push({'sort_by': 'rank', 'tag': 'rank_str', 'display': 'Ranking'});
            
            
            if(js_data.data.length == 0){
                $("#" + id + "_div").empty(); 
                $("#" + id + "_div").append("<div class='col-12 centered' style='padding-top:20px;'><span class='font-18 error'>Insufficient data to calculate career ranks.</span></div>");
            }
            else{
                generic_create_table(js_data, {'id': 'career_ranks', 'target_elem': 'career_ranks_div'});
            }
            
            
            //Mark Success
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
            
            
        id = 'career_movement'; success = false;
        try{
            //  This is the 1st shot profile graph
            /* data */
            
            seasons = misc.data.season_log;
            stat_key = misc.stat_keys.filter( r => r.tag == ranks_stat_tag.career)[0];
            
            stat_tags_movement = $("#career_movement_stat_tags_dtop"); stat_tags_movement.empty();
            subset = filtered_stats.slice(0,6);
            active_tag = false;
            html = "";
            for(var a = 0 ;a<subset.length;a++){
                var key = subset[a];
                
                html += "<div onclick='click_tag(\"career\", \"" + key.tag + "\");' class='tag" + ((key.tag == ranks_stat_tag[unit]) ? " active" : "") + "'>";
                html += "<span class='no-padding font-11'>" + key.short + "</span>";
                html += "</div>"
                if(key.tag == ranks_stat_tag[unit]){ active_tag = true; }
            }
            stat_tags_movement.append(html);
            
            
            stat_select_movement_dtop = $("#career_movement_stat_select_dtop"); stat_select_movement_dtop.empty();
            stat_select_movement_mob = $("#career_movement_stat_select_mob"); stat_select_movement_mob.empty();
            
            
            
            if (filtered_stats.length > 6){
                html = "";
                
                html += "<div class='no-padding centered'><span class='font-12'>- OR -</span></div>";
                html += "<select onchange='click_tag(\"career\",this.value);' class='stat-select font-12'>";
                html += "<option ></option>";
                
                for(var a = 0 ;a<filtered_stats.length;a++){
                    var key = filtered_stats[a];
                    html += "<option " + ((key.tag == ranks_stat_tag[unit] && (on_mobile || !active_tag)) ? " selected" : "") + " value='" + key.tag + "'>" + key.short + "</option>";
                }
                html += "</select>";
                stat_select_movement_dtop.append(html); stat_select_movement_mob.append(html);
            }
            
            
            /* visualization */
            if(seasons.length == 1){
                $("#" + unit_desc + '_movement_graph_div').empty();
                $("#" + unit_desc + '_movement_graph_div').append("<div class='centered' style='padding-top:30px;'><span class='font-18 error contents'>With a single season of data, there are no trends to show.</span></div>");
            }
            else {
                specs = {'highlight': 1, 'margin_left': 35, 'chart_size': 'bigger', 'flip': 0};
                
                data = {'axis_labels': {'y': 'Performance by Season: ' + stat_key.display, 'x': "Season"}, 'data': []};
                
                no_adj = false;
                points = [];
                
                for(var a = 0;a<seasons.length;a++){ season = seasons[a];
                    pt = {'x': a, 'label': season.year, 'y': season[stat_key.tag]};
                    points.push(pt);
                }

                tmp = {'ball_r': 4, 'ball_fill': "#33F", 'stroke': "#ccc", 'points': []}
                tmp.points = points;
                data.data.push(tmp)
                data['legend'] = {'items': [], 'layout': 'horizontal'}
           
                
                
                
                x_ticks = create_game_x_ticks(data.data);
                data['x_ticks'] = x_ticks.ticks; data['max_x'] = x_ticks.max; data['min_x'] = x_ticks.min;

                if('fmt' in stat_key && stat_key.fmt != null && stat_key.fmt.indexOf("%") > -1){
                    y_ticks = create_pct_y_ticks(data.data, {})
                }
                else{
                    y_ticks = create_numeric_y_ticks(data.data);
                }
                
                data['y_ticks'] = y_ticks.ticks;
                data['max_y'] = y_ticks.max;  data['min_y'] = y_ticks.min;
                if(on_mobile){
                    specs.width = $('#' + unit_desc + '_movement_container_div').width()-20;
                }
                else{
                    specs.width = $('#' + unit_desc + '_movement_container_div').width()*.83333-20;
                }
               
                horizontal_line(data, unit_desc + '_movement_graph_div', specs);
            }
            /* mark complete */
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
        
    }
    
    var filtered_stats = null;
    function redraw(panel=null){
        on_mobile = $("#main_logo").css('display') == "none";
        
        filtered_stats = misc.stat_keys.filter(r => !r.exclude);
        if(typeof panel == "object"){ panel = null; }
        
        console_log.push({'msg': 'Check misc.data...'});
        if('data' in misc && [{}, null].indexOf(misc.data) == -1){
            console_log.push({'msg': 'season...'});
            display_overview(panel);
            console_log.push({'msg': 'career...'});
            display_career(panel);
            if('observe' in misc && misc.observe){ report_user_view(misc.handler + "|" + panel + "|" + misc.nhca); }
            
        }
        
    }
    
    if(misc.data.current_season == null){ misc.active_element = "career"; }
    
    // Select the appropriate panel to display
    if('active_element' in misc && ["None", null, -1, ' ', ''].indexOf(misc.active_element) == -1){ choose_left_menu_item(misc.active_element); }
    else{ choose_left_menu_item("season"); }
    
    console_log.push({'msg': 'Start finish load...'});
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
    
    window.addEventListener("resize", redraw); 
    
    
</script>
{% endblock %}

