
{% extends "layout_main.html" %}


{% block body %}

        <div class='col-12 dtop flex menu-header-bar'>
            <div class='col-12 inline-flex'>
                <div class='no-padding'> <a href='/' class='menu-link'><span class='menu-link font-15'>Home</span></span></a></div>
                <div class='no-padding'> <a href='/team_my_schedule' class='menu-link'><span class='menu-link font-15'><span class='no-padding dtop'>My </span>Schedule</span></a></div>
                <div class='no-padding'> <a href='/team_my_stats' class='menu-link'><span class='menu-link font-15'><span class='no-padding dtop'>My </span>Stats</span></a></div>
                <div class='no-padding'> <a href='/team_my_rankings' class='menu-link'><span class='menu-link font-15'><span class='no-padding dtop'>My </span>Rankings</span></a></div>
                <div class='no-padding' id='explore_menu_item'><div class='no-padding'><a class='menu-link'><span class='menu-link font-15 pointer'>Explore</span></a></div></div>
            </div>
        </div>

        <div class='col-12 centered' id='banner'></div>
        
        
        
        {% if misc.error %}
            <div class='col-12 error centered'><span class='error' >{{misc.error|safe}}</span></div>
        {% endif %}
        {% if misc.msg %}
            <div class='col-12 error centered'><span class='' >{{misc.msg}}</span></div>
        {% endif %}
        <div class=''>
            <div class='no-padding options-bar col-12 flex'>
                <div class='no-padding col-9'>
                {% if misc.breadcrumbs %}
                    <div class='breadcrumbs'>
                        {{misc.breadcrumbs|safe}}
                    </div>
                {% endif %}
                </div>
                <!--div class='no-padding col-3 right'>
                    <div class='no-padding col-12 right'>
                        <div class='gear-settings'>
                            <img onclick='toggle_settings_bar("settings-bar");' id='settings-icon' class='icon-15 settings' src='/static/img/blue_gear15.png' />
                        </div>
                    </div>
                </div-->
                
            </div>
            <!--div class='settings-bar single-row not-shown no-padding right' id='settings-bar'>
                <div class='' style='padding-right:10px;'>
                    <span class='font-13' style='padding-right:10px;'>Year</span>
                    <select class='settings-bar' id='general_focus_year' onchange='update_settings(this.id, this.value);'>
                        {% for y in misc.year_select_options %}
                            <option value={{y.year}}>{{y.year}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div-->
            <div class='refreshing-bar not-shown no-padding right' id='refreshing-bar'>
                <div class='centered' style=''>
                    <span class='font-18 bold' style=''>Refreshing content...</span>
                </div>
            </div>
            
            
            <div id='' class='non-dashboard-landing'>
                <div class='col-12 mob centered no-padding'>
                    <select style='width:80%; margin: 0% 10%;' id='top_menu_select' onChange='choose_left_menu_item(this.value);'>
                        <option id='overview_option' value='overview'>Topline</option>
                        <option id='lrpro_option' value='lrpro'>LR Pro View</option>
                        <!--option id='postseason_option' value='postseason'>Implications</option-->
                    </select>
                </div>
                <div class='flex col-12 no-padding'>
                    <div class='left-menu col-2-12 dtop'>
                        <div id='overview_menu_item' onclick='choose_left_menu_item(this.id);' class='active left-menu-item'><span class='mouseover-link pointer font-15'>Topline</span></div>
                        <div id='lrpro_menu_item' onclick='choose_left_menu_item(this.id);' class='left-menu-item'><span class='mouseover-link pointer font-15'>LR Pro View</span></div>
                        <!--div id='postseason_menu_item' onclick='choose_left_menu_item(this.id);' class='left-menu-item'><span class='mouseover-link pointer font-15'>Implications</span></div-->
                    </div>
                    <div class='right-content col-10-12' id='right-content-panel'>
                        <div class='right-content-panel' id='overview_panel'>
                            <div class='col-12 no-padding'>
                                <div class='non-dashboard-section card col-12' id='overview_team_comparison_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='overview_label' route="|overview" class='col-11-10 no-padding non-dashboard-label'>Team Comparison</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon icon-visible' style='margin-top:2px;'><img id='overview_team_comparison_helpicon' class='icon-15 explanation' value="team_game_detail.html|overview_team_comparison" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='overview_team_comparison_img' class='icon-15 toggle' onclick='toggle_tile_visibility("overview_team_comparison");' src="static/img/Gray_Minus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content visible' id='overview_team_comparison_div'>
                                        <div class='no-padding flex-block col-12'>
                                            <div class='col-6-12 no-padding' id='overview_team_comparison_basic_summary'>
                                            
                                            </div>
                                            <div class='col-6-12 no-padding' id='overview_team_comparison_rate_summary'>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-12 no-padding'>
                               
                                <div class='non-dashboard-section card col-12' id='overview_boxscore_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='overview_boxscore_label' route="|overview_boxscore" class='col-11-10 no-padding non-dashboard-label'>Box Score</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon' style='margin-top:2px;'><img id='overview_boxscore_helpicon' class='icon-15 explanation' value="team_game_detail.html|overview_boxscore" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='overview_boxscore_img' class='icon-15 toggle' onclick='toggle_tile_visibility("overview_boxscore");' src="static/img/Gray_Plus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content' id='overview_boxscore_div'>
                                        
                                    </div>

                                </div>
                            </div>
                            
                            
                            
                        </div>
                        <div class='right-content-panel' id='lrpro_panel'>
                            <div class='col-12 no-padding'>
                            
                                    <div class='non-dashboard-section card col-12' style='margin-right:5px;' id='wp_chart_container_div'>
                                        <div class='non-dashboard-section-header'>
                                            <div onclick='drill_down_header(this.id, 1);' id='wp_chart_label' route="|wp_chart" class='col-11-10 no-padding non-dashboard-label'>In-Game Win Probability</div>
                                                        
                                            <div class='col-1 right no-padding dashboard-tile-help-icon icon-visible' style='margin-top:2px;'><img id='wp_chart_helpicon' class='icon-15' src="static/img/Gray_Info150.png" /></div>
                                            <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='wp_chart_img' class='icon-15 toggle' onclick='toggle_tile_visibility("wp_chart");' src="static/img/Gray_Minus150.png" /></div>
                                                    
                                                        
                                            
                                        </div>
                                        <div class='non-dashboard-tile-content visible' id='wp_chart_div'>
                                            
                                        </div>

                                    </div>
                          
                            </div>
                            
                            <!--div class='col-12 no-padding'>
                                <div class='non-dashboard-section card col-12' style='margin-left:5px;' id='wp_stretches_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='wp_stretches_label' route="|wp_stretches" class='col-11-10 no-padding non-dashboard-label'>Key Stretches</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon' style='margin-top:2px;'><img id='wp_stretches_helpicon' class='icon-15 explanation' value="team_game_detail.html|wp_stretches" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='wp_stretches_img' class='icon-15 toggle' onclick='toggle_tile_visibility("wp_stretches");' src="static/img/Gray_Plus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content' id='wp_stretches_div'>
                                        
                                    </div>

                                </div>
                            
                         
                            
                            </div-->
                        
                        </div>
                        <div class='right-content-panel hidden' id='postseason_panel'>
                            <div class='col-12 flex-block no-padding'>
                                <div class='non-dashboard-section card col-6-12' id='postseason_laxelo_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='postseason_laxelo_label' route="|postseason_laxelo" class='col-11-10 no-padding non-dashboard-label'>Lax-ELO Movement</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon icon-visible' style='margin-top:2px;'><img id='postseason_laxelo_helpicon' class='icon-15 explanation' value="team_game_detail.html|postseason_laxelo" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='postseason_laxelo_img' class='icon-15 toggle' onclick='toggle_tile_visibility("postseason_laxelo");' src="static/img/Gray_Minus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content visible' id='postseason_laxelo_div'>
                                        
                                    </div>

                                </div>
                                <div class='non-dashboard-section card col-6-12' id='postseason_rpi_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='postseason_rpi_label' route="|postseason_rpi" class='col-11-10 no-padding non-dashboard-label'>RPI Projection</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon' style='margin-top:2px;'><img id='postseason_rpi_helpicon' class='icon-15' src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='postseason_rpi_img' class='icon-15 toggle' onclick='toggle_tile_visibility("postseason_rpi");' src="static/img/Gray_Plus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content' id='postseason_rpi_div'>
                                        
                                    </div>

                                </div>
                            </div>
                            <div class='col-12 flex-block no-padding'>
                                <div class='non-dashboard-section card col-6-12' id='postseason_probabilities_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='postseason_probabilities_label' route="|postseason_probabilities" class='col-11-10 no-padding non-dashboard-label'>NCAA Probabilties</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon' style='margin-top:2px;'><img id='postseason_probabilities_helpicon' class='icon-15 explanation' value="team_game_detail.html|postseason_probabilities" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='postseason_probabilities_img' class='icon-15 toggle' onclick='toggle_tile_visibility("postseason_probabilities");' src="static/img/Gray_Plus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content' id='postseason_probabilities_div'>
                                        
                                    </div>

                                </div>
                                <div class='non-dashboard-section card col-6-12' id='postseason_conf_seeding_container_div'>
                                    <div class='non-dashboard-section-header'>
                                        <div onclick='drill_down_header(this.id, 1);' id='postseason_conf_seeding_label' route="|postseason_conf_seeding" class='col-11-10 no-padding non-dashboard-label'>Conference Seeding</div>
                                                    
                                        <div class='col-1 right no-padding dashboard-tile-help-icon' style='margin-top:2px;'><img id='postseason_conf_seeding_helpicon' class='icon-15 explanation' value="team_game_detail.html|postseason_conf_seeding" src="static/img/Gray_Info150.png" /></div>
                                        <div class='col-1 mob right no-padding' style='margin-top:2px;'><img id='postseason_conf_seeding_img' class='icon-15 toggle' onclick='toggle_tile_visibility("postseason_conf_seeding");' src="static/img/Gray_Plus150.png" /></div>
                                                
                                                    
                                        
                                    </div>
                                    <div class='non-dashboard-tile-content' id='postseason_conf_seeding_div'>
                                        
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    

<script src="static/js/d3.v4.min.js"></script><script src="static/js/laxrefpro_graphing.js?dt=200"></script>
<script>
    var on_mobile = null;
    var console_log = []; var success = null;
    var time_log = JSON.parse({{misc.time_log|to_json2}});
    
    var single_stat = "<div class='col-12'><span class='lightish contents font-20'>[header]</span></div>";
    single_stat += "<div class='col-12 centered ' style='padding-top:65px;'><span class='tile-message font-18'>[stat]</span></div>";
    var misc = parse_misc({{misc|to_json2}});
    console_log.push({'msg': 'Loaded misc...'});
    var user_obj = {'settings': {{user_obj.settings|to_json2}}};
    console_log.push({'msg': 'Loaded user settings...'});
    console.log(misc);
    var explanations = {{user_obj.explanations|to_json2}};
    
    
    function display_overview(panel){ 
        if([null, 'overview', 'overview_team_comparison', 'overview_boxscore', ''].indexOf(panel) == -1){ return; }
    
        id = 'overview_team_comparison'; success = false;
        try{
            // Data
            data = misc.data.results.BasicSummaryCounting;
            //console.log("misc.data.results.BasicSummaryCounting")
            //console.log(data);
            
            id = 'overview_team_comparison_basic_summary'
            // Visualization
            html = ""; $("#" + id).empty();
            html += "<div class='no-padding' style='padding-bottom:10px; padding-right:20px;'>"; 
                html += "<div class='no-padding' style='padding-top:20px;padding-bottom:20px;'><span class='no-padding font-18 bold'>Summary Stats</span></div>";
                html += "<div class='flex no-padding bbottom light' style='margin-bottom:10px;'>"; 
                        html += "<div class='col-3 no-padding'><span class='light font-11'></span></div>";
                        html += "<div class='col-9 no-padding' id='split_bar_header'></div>";  
                        
                    html += "</div>";
            for(var a = 0;a<data.length;a++){
                stat = data[a];
                
                
                    html += "<div class='flex no-padding' style='padding-top:7px;'>"; 
                        html += "<div class='col-3 no-padding'><span class='no-padding light font-11'>" + stat.display + "</span></div>";
                        html += "<div class='col-9 no-padding' id='split_bar" + a + "'></div>";  
                        
                    html += "</div>";
                
                
            }
            html += "</div>"; 
            $("#" + id).append(html)
            if(on_mobile){
                w = $('#overview_team_comparison_container_div').width() * .75 * .95 - 5;
            }
            else{
                w = $('#overview_team_comparison_container_div').width() * .75 * .50 * .95 - 5;
            }
            split_bar("split_bar_header", {'width': w, 'chart_size': 'small', 'label1': misc.data.away_alt_team, 'label2': misc.data.home_alt_team, 'margin_left': 0, 'margin_top': 0, 'margin_bottom': 0, 'margin_right': 0, 'height': 20, 'split_point': .5, 'bar_fill': "#EEE", 'fill': "#88F"});
            
            for(var a = 0;a<data.length;a++){
                    stat = data[a];
                    split_bar_id = "split_bar" + a;
                    
                    
                    split_bar(split_bar_id, {'width': w, 'chart_size': 'small', 'label1': stat.away_val_str, 'label2': stat.home_val_str, 'margin_left': 0, 'margin_top': 0, 'margin_bottom': 0, 'margin_right': 0, 'height': 20, 'split_point': stat.pct, 'bar_fill': "#E8E8E8", 'fill': "#88F"});
                
            }
            
            id = 'overview_team_comparison_rate_summary'
            
            
            data = misc.data.results.BasicSummaryRate;
            console.log("misc.data.results.BasicSummaryRate")
            console.log(data);
            
            // Visualization
            html = ""; $("#" + id).empty();
            html += "<div class='no-padding' style='padding-bottom:10px;'>"; 
                html += "<div class='no-padding' style='padding-top:20px;padding-bottom:20px;'><span class='no-padding font-18 bold'>Pace/Rate Stats</span></div>";
            for(var a = 0;a<data.length;a++){
                stat = data[a];
                
                
                    html += "<div class='flex card' style='padding:5px;  margin-bottom:4px;'>"; 
                        html += "<div class='col-3 no-padding'><span class='no-padding light font-12'>" + stat.display + "</span></div>";
                        html += "<div class='col-9 no-padding'>"
                            html += "<div class='flex no-padding'>";
                                html += "<div class='col-3 no-padding'><span class='no-padding light font-12'>" + misc.data.away_alt_team + "</span></div>";
                                html += "<div class='col-9 no-padding' id='away_rate" + a + "'></div>";
                            html += "</div>";
                            html += "<div class='flex no-padding'>";
                                html += "<div class='col-3 no-padding'><span class='no-padding light font-12'>" + misc.data.home_alt_team + "</span></div>";
                                html += "<div class='col-9 no-padding' id='home_rate" + a + "'></div>";
                            html += "</div>";
                        html += "</div>";
                    html += "</div>";
                
                
            }
            html += "</div>"; 
            $("#" + id).append(html)
            if(on_mobile){
                w = $('#overview_team_comparison_container_div').width() * .75 * .75 * .95;
            }
            else{
                w = $('#overview_team_comparison_container_div').width() * .75 * .75 * .50 * .95;
            }          
            for(var a = 0;a<data.length;a++){
                    stat = data[a];
                    spark_bar_id = "away_rate" + a;
                    spark_bar(spark_bar_id, {'width': w, 'chart_size': 'small', 'label': stat.away_val_str, 'margin_left': 0, 'margin_top': 0, 'margin_bottom': 0, 'margin_right': 0, 'height': 18, 'bar_width': stat.away_pct, 'bar_fill': "#E8E8E8", 'fill': "#88F"});
                    
                    spark_bar_id = "home_rate" + a;
                    spark_bar(spark_bar_id, {'width': w, 'chart_size': 'small', 'label': stat.home_val_str, 'margin_left': 0, 'margin_top': 0, 'margin_bottom': 0, 'margin_right': 0, 'height': 18, 'bar_width': stat.home_pct, 'color': "#88F", 'fill': "#E8E8E8", 'bar_fill': "#88F"});
                
            }
            
            // Mark Complete
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
        
        id = 'overview_boxscore'; success = false;
        try{
            
            // Data
            data = misc.data.results.TopStars.sort(function(a,b){return b.goals_added - a.goals_added; });
            //console.log("misc.data.results.TopStars");
            //console.log(data);
            for(var a = 0;a<data.length;a++){ player = data[a];
                player.goals_added_str = jsformat(player.goals_added, "2");
                player.name_str = player.player;
                if('player_ID' in player && [null, '', -1].indexOf(player.player_ID) == -1){
                    player.name_str = "<FORM id='player" + player.player_ID + "form' action='/team_player_detail' method=POST><input type=hidden name='ID' value='" + player.player_ID+ "'><input type=hidden name='came_from' value='{{misc.came_from}}'><span onclick=\"document.getElementById(\'player" + player.player_ID + "form\').submit();\" class='no-padding mouseover-link pointer'>" + player.player+ "</span></FORM>";
                }
                console.log(player);
            }
            
            // Visualization
            $("#" + id + "_div").empty();
            html = ""
            html += '<div class="col-12 centered">'
            html += '<span id="away_view_tag" class="pointer tag-on panel_tag font-15" onclick=\'set_panel(&quot;away&quot;);\'>';
            html += '<span class="bold font-15">' + misc.data.teams[0].short_name + '</span></span>'
            html += '<span id="home_view_tag" class="pointer tag-off panel_tag font-15" onclick=\'set_panel(&quot;home&quot;);\'>';
            html += '<span class="bold font-15">' + misc.data.teams[1].short_name + '</span></span>'
            html += '</div>';
            
            html += '<div class="col-12 visible panel" id ="away_view"></div>';
            html += '<div class="col-12 hidden panel" id ="home_view"></div>';
            $("#" + id + "_div").append(html);
                
            for(var a = 0;a<misc.data.teams.length;a++){ team_ID = misc.data.teams[a]['ID'];
                players = data.filter(r=> r.team_ID==team_ID);
                
                var js_data = {'no_row_count': 1}
                js_data.classes = [{'class': 'col-2-4'}, {'outer_class': 'col-10-8', 'classes': [{'class': 'centered'}, {'class': 'centered'}, {'class': 'centered'}, {'class': 'centered'}, {'class': 'centered'}]}];
                js_data.fmt = [{'fmt': ""}, {'fmt': "2"}, {'fmt': "0"}, {'fmt': "0"}, {'fmt': "0"}, {'fmt': "0"}];
                js_data.fields = [{'sort_by': 'player', 'tag': 'name_str', 'display': 'Player'}
                , {'sort_by': 'goals_added', 'tag': 'goals_added', 'display': 'EGA'}
                , {'sort_by': 'shots', 'tag': 'shots', 'display': 'Shots'}
                , {'sort_by': 'goals', 'tag': 'goals', 'display': 'Goals'}
                , {'sort_by': 'tos', 'tag': 'gbs', 'display': 'Ground balls'}
                , {'sort_by': 'tos', 'tag': 'tos', 'display': 'Turnovers'}
                ];
                
                js_data.data = players;
                generic_create_table(js_data, {'id':(a==0 ? "away" : "home") + "_view", 'target_elem': (a==0 ? "away" : "home") + "_view"});
                
            }
            // Mark Complete
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
        
    }
    
    
    //misc = process_season_trends_history(misc);
    var season_trends_dates = []
    function display_lrpro(panel){
        //console.log("display_lrpro: " + panel);
        if([null, 'lrpro', 'wp_chart', 'season_trends_game_results', 'season_trends_movement'].indexOf(panel) == -1){ return; }
        
        
        id = 'wp_chart'; success = false;
        try{
            // Data
            wp_data = misc.data.results.WinProbabilityChart;
            console.log("misc.data.results.WinProbabilityChart");
            console.log(wp_data);
            
            if(wp_data.points.length > 0){
                // Visualization
                specs = {'highlight': 1, 'margin_left': 35, 'chart_size': 'bigger', 'flip': 0};
                
                data = {'axis_labels': {'y': misc.data.teams[1].short_name + ' Win Probability', 'x': ""}, 'data': [{'stroke-width': 3, 'stroke': "#00F", 'points': wp_data.points}]};
                
                
                x_ticks = create_game_x_ticks(data.data);
                data['x_ticks'] = x_ticks.ticks; data['max_x'] = x_ticks.max; data['min_x'] = x_ticks.min;
                y_ticks = create_pct_y_ticks(data.data, {'min': 0.0, 'max': 1.0});

                data['y_ticks'] = y_ticks.ticks;
                data['max_y'] = 1.0;  data['min_y'] = 0.0;
         
                specs.width = $('#wp_chart_container_div').width() - 15;          
               
                specs.vertical_lines = [{'x': 25}, {'x': 50}, {'x': 75}]
                specs.height = 230;
                x_h = 175;
                data.text = [{'x_scaled': 12.5, 'y': x_h, 'align': 'middle', 'text': "Q1"}, {'x_scaled': 37.5, 'y': x_h, 'align': 'middle', 'text': "Q2"}, {'x_scaled': 62.5, 'y': x_h, 'align': 'middle', 'text': "Q3"}, {'x_scaled': 87.5, 'y': x_h, 'align': 'middle', 'text': "Q4"}]
                wp_chart(data, id + '_div', specs);
            }
            else{
                elem = $("#" + id + '_div'); elem.empty();
                
                elem.append("<div class='col-12 centered' style='padding-top:20px;'><span class='font-18 error'>The win probability chart for this game is not available.</span></div>");
                report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
            }            
            // Mark Success
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
                
        
        id = ""; success = false;
        try{
            
            // Data
            
            // Visualization
            
            // Mark Complete
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
            
            
        id = ""; success = false;
        
        try{
            // Data
            
            // Visualization
            
            // Mark Complete
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
        
    }
    function redraw_season_trends_movement(){ 
        
        slider_obj = d3.select(this);
        overlay = d3.select("#" + slider_obj.attr('id') + "-overlay");
        overlay.attr("class", "slider-overlay hidden");
        overlay_text = d3.select("#" + slider_obj.attr('id') + "-overlay-text");
        overlay_text.attr("class", "label lightish chart-tick-label small hidden");
        
        loc = {'x': slider_obj.attr("offset_x"), 'y': slider_obj.attr("offset_y")}; 
        
        if(slider_obj.attr("orientation") == "horizontal"){
            loc = Math.min(slider_obj.attr("width")-1, Math.max(0, d3.event.x - loc.x));
            pct = loc / slider_obj.attr("width");
        }
        else{
            loc =  Math.min(slider_obj.attr("height"), Math.max(d3.event.y - loc.y));
            pct = loc / slider_obj.attr("height");
        }
        
        //pct = Math.min(Math.max(0, d3.event.loc/slider_obj.attr("slider_height")), 1);
        index = parseInt(pct * season_trends_dates.length);
        misc.season_trends_movement_start_date = season_trends_dates[index];
        
        
        display_lrpro('season_trends_movement');
        
        // Write to the DB that the value of the setting has changed
        logger_str = [null, misc.nhca, 'season_trends_movement_start_date', misc.season_trends_movement_start_date].join("|");
        document.getElementById('pixel').src = "/logger-editSettings?c=" + logger_str;
        
    }
    
    function show_season_trends_date(){ 
        
        slider_obj = d3.select(this);
        overlay = d3.select("#" + slider_obj.attr('id') + "-overlay");
        overlay.attr("class", "slider-overlay");
        overlay_text = d3.select("#" + slider_obj.attr('id') + "-overlay-text");
        overlay_text.attr("class", "label lightish chart-tick-label small");
        orig_loc = {'x': parseInt(slider_obj.attr("offset_x")), 'y': parseInt(slider_obj.attr("offset_y"))}; 
        
        if(slider_obj.attr("orientation") == "horizontal"){
            loc = Math.min(slider_obj.attr("width")-1, Math.max(0, d3.event.x - orig_loc.x));
            pct = loc / slider_obj.attr("width");
            overlay.attr("x", loc + orig_loc.x - 30);
            overlay_text.attr("x", loc + orig_loc.x);
            slider_obj.attr("cx", loc + orig_loc.x);
        }
        else{
            loc =  Math.min(slider_obj.attr("height"), Math.max(d3.event.y - orig_loc.y));
            pct = loc / slider_obj.attr("height");
            overlay.attr("y", loc + orig_loc.y -15);
            slider_obj.attr("cy", loc + orig_loc.y);
            overlay_text.attr("y", loc + orig_loc.y);
        }
        
        
        //pct = Math.min(Math.max(0, d3.event.loc/slider_obj.attr("slider_height")), 1);
        index = parseInt(pct * season_trends_dates.length);
        txt = days_to_date(season_trends_dates[index], '%b %d \'%y')
        overlay_text.text(txt);
        
    }
    
    function display_postseason(panel){
        if([null, 'career', 'record_scenarios', 'bubble_watch', 'conf_seed_probabilities', 'selection_rivals'].indexOf(panel) == -1){ return; }
        
        id = ''; success = false;
        try{
            // Data
            
            //  Visualization
            
            // Mark Success
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
            
    
        id =  'selection_rivals_div'; success = false;
        try{
            misc.data.selection_rivals.bubble_rivals.sort(function(first, second) {
                return -(first.diff - second.diff);
            });
            rivals = misc.data.selection_rivals.bubble_rivals.slice(0, 8);
        
            var js_data = {'no_row_count': 1}
            js_data.classes = [{'class': 'col-4'}, {'outer_class': 'col-8', 'classes': [{'class': 'col-3 centered'}, {'class': 'col-3 centered'}, {'class': 'col-3 centered'}]}];
            js_data.fmt = [{'fmt': ""}, {'fmt': "0%"}, {'fmt': "0%"}, {'fmt': "0%"}];
            js_data.fields = [{'sort_by': 'display_name', 'tag': 'display_name', 'display': 'Team'}
            , {'sort_by': 'in_pct_val', 'tag': 'in_pct_val', 'display': 'In when In'}
            , {'sort_by': 'out_pct_val', 'tag': 'out_pct_val', 'display': 'In when Out'}
            , {'sort_by': 'diff', 'tag': 'diff', 'display': 'Net'}
            ];
            
            js_data.data = rivals;
            generic_create_table(js_data, {'id':id, 'target_elem': 'selection_rivals_div'});
            
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }
            
        
        
        id = 'conf_seed_probabilities_div'; success = false;
        try{
            misc.data.seed_instances;
            seed_data = []
            
            var total = 0; var total_positive = 0;
            si = misc.data.seed_instances
            for(var a = 0;a<si.length;a++){
                var seed = si[a];
                if(typeof seed == "number"){
                    total += seed;
                    if(seed > 0){ total_positive += 1; }
                }
            }
            si = si.slice(0, misc.data.num_conf_tournament_teams);
            if(total_positive == 1){ // Just tell them what they've won
                var seed = null;
                for(var b = 0;b<si.length;b++){ if(si[b] > 0){ seed = b + 1; } }
                
                var msg = "<div class='centered' style='padding-top:30px;'><span class='font-18 contents'>You are locked in as the #" + seed + " seed.</span></div>";
                $("#" + id).empty(); $("#" + id).append(msg);
            }
            else if(total_positive > 1){ // Show the graph of the remaining possibilities
                if(total > 0){
                    for(var a = 0;a<si.length;a++){
                        var seed = si[a];
                        
                        d = {'label': (a+1), 'x': a, 'y': seed/total};
                        
                        seed_data.push(d);
                    }
                    specs = {'chart_size': 'small', 'flip': 0, 'margin_right': 20};
                        
                    data = {'axis_labels': {'y': 'Chance of each seed in Conf. Tournament', 'x': 'Conference Tournament Seed'}, 'data': []};
                    tmp = {'stroke-dasharray': '3-3', 'stroke': "#666", 'points': []}
                    tmp.points = seed_data;
                    data.data.push(tmp)
                    
                    x_ticks = create_game_x_ticks(data.data);
                    data['x_ticks'] = x_ticks.ticks; data['max_x'] = x_ticks.max; data['min_x'] = x_ticks.min;
                    y_ticks = create_pct_y_ticks(data.data,{})
                    data['y_ticks'] = y_ticks.ticks;
                    data['max_y'] = y_ticks.max;  data['min_y'] = 0;
                    specs.width = $('#conf_seed_probabilities_container_div').width() - 20;
                    
                    vertical_bars(data, id, specs);
                }
            }
            else{
                $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Could not calculate seed distribution."));

            }  
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }

        id = 'bubble_watch_div'; success = false;
        try{
            if(typeof misc.data.bubble_watch_games != "undefined" && misc.data.bubble_watch_games.length > 0){
                specs = {'margin_left': 30, 'chart_size': 'small', 'flip': 0};
                
                data = {'axis_labels': {'y': '% of Simulations', 'x': 'Final RPI Rank'}, 'data': []};
                tmp = {'stroke-dasharray': '3-3', 'stroke': "#666", 'points': []}
                tmp.points = misc.data.RPI_ranks_histogram;
                data.data.push(tmp)
                
                x_ticks = create_game_x_ticks(data.data);
                data['x_ticks'] = x_ticks.ticks; data['max_x'] = x_ticks.max; data['min_x'] = x_ticks.min;
                y_ticks = create_pct_y_ticks(data.data,{})
                data['y_ticks'] = y_ticks.ticks;
                data['max_y'] = y_ticks.max;  data['min_y'] = 0;
                specs.width = $('#bubble_watch_container_div').width() - 20;
                
                vertical_bars(data, id, specs);
                
            }
            else{
                $("#" + id).empty();
                $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "No relevant (to you) bubble watch games have been identified."));
            }
            success = true;
        }
        catch(err){ console.log("Error caught: " + id); if(!misc.on_server){ console.error(err.stack); } }
        
        if(!success){
            $("#" + id).empty(); $("#" + id).append(single_stat.split("</div>")[1].replace('[stat]', "Data could not be displayed."));
            report_js_visualization_issue(misc.target_template + "|" + id + "|" + misc.nhca);
        }

        
    }
    
    function redraw(panel=null){
        on_mobile = $("#main_logo").css('display') == "none";
        
        if(typeof panel == "object"){ panel = null; }
        
        console_log.push({'msg': 'Check misc.data...'});
        if('data' in misc && [{}, null].indexOf(misc.data) == -1){
            console_log.push({'msg': 'overview...'});
            display_overview(panel);
            console_log.push({'msg': 'lrpro...'});
            display_lrpro(panel);
            console_log.push({'msg': 'postseason...'});
            display_postseason(panel);
            
            
            
            if('observe' in misc && misc.observe){ report_user_view(misc.handler + "|" + panel + "|" + misc.nhca); }
            
        }
        
    }
    
    // Select the appropriate panel to display
    if('active_element' in misc && ["None", null, -1, ' ', ''].indexOf(misc.active_element) == -1){ choose_left_menu_item(misc.active_element); }
    else{ choose_left_menu_item("overview"); }
    
    console_log.push({'msg': 'Start finish load...'});
    finish_load(JSON.parse({{user_obj.notifications|to_json2}}));
    
    window.addEventListener("resize", redraw); 
    
    
</script>
{% endblock %}

